Repository romiardanaputra/iec-denpasar: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

.lintstagedrc.json:

{
  "*.{html,scss,js}": [
    "prettier --write",
    "eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix"
  ],
  "*.php": ["./vendor/bin/pint --dirty"],
  "*.blade.php": ["prettier --write"]
}

refactor: dashboard client
  app/Filament/Resources/Feature/GradeResource.php
  app/Livewire/Feature/User/Bill.php
  app/Livewire/Feature/User/Dashboard.php
  app/Livewire/Feature/User/ExamGrade.php
  app/Models/Program/Program.php
  resources/views/components/select/index.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/user/bill.blade.php
  resources/views/livewire/feature/user/dashboard.blade.php
  resources/views/livewire/feature/user/exam-grade.blade.php
  resources/views/livewire/index.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

[STAGING]/[ADD]/[Refactor/dashboard client] (#39)
  app/Filament/Resources/Feature/GradeResource.php
  app/Livewire/Feature/User/Bill.php
  app/Livewire/Feature/User/ClassInfo.php
  app/Livewire/Feature/User/Dashboard.php
  app/Livewire/Feature/User/ExamGrade.php
  app/Livewire/Feature/User/Schedule.php
  app/Livewire/Partials/Footer.php
  app/Models/Program/Program.php
  resources/js/app.js
  resources/js/swiper-team.js
  resources/js/swiper-testimonial.js
  resources/views/components/accordion/item.blade.php
  resources/views/components/select/index.blade.php
  resources/views/layouts/navbars/auth/nav.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/user/bill.blade.php
  resources/views/livewire/feature/user/class-info.blade.php
  resources/views/livewire/feature/user/dashboard.blade.php
  resources/views/livewire/feature/user/exam-grade.blade.php
  resources/views/livewire/feature/user/schedule.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/about.blade.php
  resources/views/livewire/pages/blog.blade.php
  resources/views/livewire/partials/cta-section.blade.php
  resources/views/livewire/partials/faq-section.blade.php
  resources/views/livewire/partials/footer.blade.php
  resources/views/livewire/partials/navbar.blade.php
  resources/views/livewire/partials/program-section.blade.php
  resources/views/livewire/partials/team-section.blade.php
  resources/views/livewire/partials/testimonial-section.blade.php
  routes/web.php
  tailwind.config.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

refactor(page): fix lighthouse at public page
  app/Livewire/Index.php
  app/Livewire/Partials/Home/FeatureItem.php
  database/factories/TeamFactory.php
  database/migrations/2025_01_17_001150_create_teams_table.php
  database/migrations/2025_02_25_070534_add_level_to_books_table.php
  database/seeders/Program/BookSeeder.php
  database/seeders/TeamSeeder.php
  database/seeders/Web/FaqSeeder.php
  public/assets/css/perfect-scrollbar.css
  resources/css/app.css
  resources/css/global.css
  resources/css/index.tailwind.css
  resources/views/components/layouts/app.blade.php
  resources/views/components/navbar/nav-link.blade.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/about.blade.php
  resources/views/livewire/pages/program-detail.blade.php
  resources/views/livewire/partials/cta-section.blade.php
  resources/views/livewire/partials/faq-section.blade.php
  resources/views/livewire/partials/footer.blade.php
  resources/views/livewire/partials/hero-section.blade.php
  resources/views/livewire/partials/home/feature-item.blade.php
  resources/views/livewire/partials/navbar.blade.php
  resources/views/livewire/partials/program-section.blade.php
  resources/views/livewire/partials/program/schedule-table.blade.php
  resources/views/livewire/partials/team-section.blade.php
  resources/views/livewire/partials/testimonial-section.blade.php
  tailwind.config.js
  vite.config.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

refactor(page): fix lighthouse at public page (#41)
  app/Livewire/Index.php
  app/Livewire/Partials/Home/FeatureItem.php
  database/factories/TeamFactory.php
  database/migrations/2025_01_17_001150_create_teams_table.php
  database/migrations/2025_02_25_070534_add_level_to_books_table.php
  database/seeders/Program/BookSeeder.php
  database/seeders/TeamSeeder.php
  database/seeders/Web/FaqSeeder.php
  public/assets/css/perfect-scrollbar.css
  resources/css/app.css
  resources/css/global.css
  resources/css/index.tailwind.css
  resources/views/components/layouts/app.blade.php
  resources/views/components/navbar/nav-link.blade.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/about.blade.php
  resources/views/livewire/pages/program-detail.blade.php
  resources/views/livewire/partials/cta-section.blade.php
  resources/views/livewire/partials/faq-section.blade.php
  resources/views/livewire/partials/footer.blade.php
  resources/views/livewire/partials/hero-section.blade.php
  resources/views/livewire/partials/home/feature-item.blade.php
  resources/views/livewire/partials/navbar.blade.php
  resources/views/livewire/partials/program-section.blade.php
  resources/views/livewire/partials/program/schedule-table.blade.php
  resources/views/livewire/partials/team-section.blade.php
  resources/views/livewire/partials/testimonial-section.blade.php
  tailwind.config.js
  vite.config.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

refactor(page): fix lighthouse at public page (#41) (#42)
  app/Livewire/Index.php
  app/Livewire/Partials/Home/FeatureItem.php
  database/factories/TeamFactory.php
  database/migrations/2025_01_17_001150_create_teams_table.php
  database/migrations/2025_02_25_070534_add_level_to_books_table.php
  database/seeders/Program/BookSeeder.php
  database/seeders/TeamSeeder.php
  database/seeders/Web/FaqSeeder.php
  public/assets/css/perfect-scrollbar.css
  resources/css/app.css
  resources/css/global.css
  resources/css/index.tailwind.css
  resources/views/components/layouts/app.blade.php
  resources/views/components/navbar/nav-link.blade.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/about.blade.php
  resources/views/livewire/pages/program-detail.blade.php
  resources/views/livewire/partials/cta-section.blade.php
  resources/views/livewire/partials/faq-section.blade.php
  resources/views/livewire/partials/footer.blade.php
  resources/views/livewire/partials/hero-section.blade.php
  resources/views/livewire/partials/home/feature-item.blade.php
  resources/views/livewire/partials/navbar.blade.php
  resources/views/livewire/partials/program-section.blade.php
  resources/views/livewire/partials/program/schedule-table.blade.php
  resources/views/livewire/partials/team-section.blade.php
  resources/views/livewire/partials/testimonial-section.blade.php
  tailwind.config.js
  vite.config.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

chore: remove package json and add in git ignore
  .gitignore
  package-lock.json
Due: none

chore: remove yarn lock and add to git ignore
  .gitignore
  yarn.lock
Due: none

chore: add htaccess to root project
  .htaccess
Due: none

fix(typo): in blog and registration schedule
  app/Models/Feature/RegistrationSchedule.php
Due: ./vendor/bin/pint --dirty

fix(typo): dashboard user on tab.list component
  resources/views/livewire/feature/user/dashboard.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

fix(typo): fix typo at dashbaord and program detail on component tab.list
  resources/views/livewire/feature/user/exam-grade.blade.php
  resources/views/livewire/pages/program-detail.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: publish livewire assets
  public/vendor/livewire/livewire.esm.js
  public/vendor/livewire/livewire.esm.js.map
  public/vendor/livewire/livewire.js
  public/vendor/livewire/livewire.min.js
  public/vendor/livewire/livewire.min.js.map
  public/vendor/livewire/manifest.json
  resources/views/components/layouts/app.blade.php
  resources/views/components/navbar/nav-link.blade.php
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

chore: remove livewire vendor assets
  public/vendor/livewire/livewire.esm.js
  public/vendor/livewire/livewire.esm.js.map
  public/vendor/livewire/livewire.js
  public/vendor/livewire/livewire.min.js
  public/vendor/livewire/livewire.min.js.map
  public/vendor/livewire/manifest.json
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix

chore: add filament asset injection using asset
  resources/views/components/layouts/app.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: dissable filament scripts
  resources/views/components/layouts/app.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: adjustment in layout app add filament directive style and script
  app/Filament/Resources/TestResource.php
  app/Filament/Resources/TestResource/Pages/CreateTest.php
  app/Filament/Resources/TestResource/Pages/EditTest.php
  app/Filament/Resources/TestResource/Pages/ListTests.php
  resources/views/components/layouts/app.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

test(server): add dummy text on production server
  resources/views/livewire/index.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: fix siitemap with real domain
  public/sitemap.xml
Due: none

chore: disabled sitemap generator by spatie
  routes/web.php
Due: ./vendor/bin/pint --dirty

refactor: sitemap.xml
  public/sitemap.xml
Due: none

fix(favico): refactor app and fix favico
  resources/views/components/layouts/app.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: fix seo on landing
  app/Livewire/Index.php
  resources/views/components/layouts/app.blade.php
  storage/app/public/iec-assets/iec-hero-banner-small.webp
Due: prettier --write, ./vendor/bin/pint --dirty

refactor(index): fix title seo attribute
  app/Livewire/Index.php
Due: ./vendor/bin/pint --dirty

fix: update favicon staging
  resources/views/components/layouts/app.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: update seo landing, about, progam, program detaiil, blog, blog detail
  app/Livewire/Index.php
  app/Livewire/Pages/About.php
  app/Livewire/Pages/Blog.php
  app/Livewire/Pages/BlogDetail.php
  app/Livewire/Pages/Contact.php
  app/Livewire/Pages/OurTeam.php
  app/Livewire/Pages/Program.php
  app/Livewire/Pages/ProgramDetail.php
Due: ./vendor/bin/pint --dirty

chore: remove title at layout app blade
  resources/views/components/layouts/app.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: remove unused dependencies
  composer.json
  composer.lock
Due: none

chore: remove old auth by breeze
  resources/views/auth/confirm-password.blade.php
  resources/views/auth/forgot-password.blade.php
  resources/views/auth/login.blade.php
  resources/views/auth/register.blade.php
  resources/views/auth/reset-password.blade.php
  resources/views/auth/verify-email.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: add assets for empty state and padding adjusment at twconfig
  storage/app/public/assets/empty-state-animation/blog.gif
  storage/app/public/assets/empty-state-animation/faq.gif
  storage/app/public/assets/empty-state-animation/group.gif
  storage/app/public/assets/empty-state-animation/growth.gif
  storage/app/public/assets/empty-state-animation/review.gif
  tailwind.config.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix

refactor: modify custom error styling
  resources/views/errors/401.blade.php
  resources/views/errors/402.blade.php
  resources/views/errors/403.blade.php
  resources/views/errors/404.blade.php
  resources/views/errors/419.blade.php
  resources/views/errors/429.blade.php
  resources/views/errors/500.blade.php
  resources/views/errors/503.blade.php
  resources/views/errors/layout.blade.php
  resources/views/errors/minimal.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor(auth): improve performance and user experience
  app/Livewire/Auth/Login.php
  app/Livewire/Auth/Register.php
  resources/views/livewire/auth/confirm-password.blade.php
  resources/views/livewire/auth/forgot-password.blade.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/auth/register.blade.php
  resources/views/livewire/auth/reset-password.blade.php
  resources/views/livewire/auth/verify-email.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: adjust code formatting
  resources/css/global.css
  resources/js/app.js
  resources/js/swiper-testimonial.js
  resources/views/components/layouts/app.blade.php
  resources/views/components/navbar/nav-link.blade.php
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

refactor: upgrade layout, color, and proportional
  resources/views/livewire/pages/about.blade.php
  resources/views/livewire/pages/blog.blade.php
  resources/views/livewire/pages/contact.blade.php
  resources/views/livewire/pages/our-team.blade.php
  resources/views/livewire/pages/program.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: add scroll to top for ux purpose
  app/Livewire/Partials/ScrollToTop.php
  resources/views/livewire/partials/scroll-to-top.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: add empty state layout
  app/Livewire/Partials/EmptyState.php
  resources/views/livewire/partials/empty-state.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty
