Repository romiardanaputra/iec-denpasar: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

chore(config): setup prettier and prettier ignore
  .prettierignore
  .prettierrc
Due: none

chore(setup): add necesarry deps
  package.json
  yarn.lock
Due: none

chore(setup): modify husky pre commit hooks
  .husky/pre-commit
Due: none

chore(setup): add laravel pint
  composer.json
  composer.lock
Due: none

chore(setup): add lint staged command
  package.json
Due: none

chore: add commit lint and eslint config
  commitlint.config.js
  eslint.config.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix

chore(setup): add livewire and fillamen
  app/Providers/Filament/AdminPanelProvider.php
  bootstrap/providers.php
  composer.json
  composer.lock
  config/livewire.php
  public/css/filament/filament/app.css
  public/css/filament/forms/forms.css
  public/css/filament/support/support.css
  public/js/filament/filament/app.js
  public/js/filament/filament/echo.js
  public/js/filament/forms/components/color-picker.js
  public/js/filament/forms/components/date-time-picker.js
  public/js/filament/forms/components/file-upload.js
  public/js/filament/forms/components/key-value.js
  public/js/filament/forms/components/markdown-editor.js
  public/js/filament/forms/components/rich-editor.js
  public/js/filament/forms/components/select.js
  public/js/filament/forms/components/tags-input.js
  public/js/filament/forms/components/textarea.js
  public/js/filament/notifications/notifications.js
  public/js/filament/support/async-alpine.js
  public/js/filament/support/support.js
  public/js/filament/tables/components/table.js
  public/js/filament/widgets/components/chart.js
  public/js/filament/widgets/components/stats-overview/stat/chart.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

feat: add livewire, luvi and blade lucide icon
  composer.json
  composer.lock
Due: none

chore: add tailwind config
  package.json
  tailwind.config.js
  vite.config.js
  yarn.lock
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix

feat: add home page (desktop view)
  app/Livewire/Index.php
  app/Livewire/Partials/Footer.php
  app/Livewire/Partials/Navbar.php
  app/Livewire/User/Home.php
  app/Services/ButtonCvaService.php
  resources/css/app.css
  resources/css/global.css
  resources/css/index.tailwind.css
  resources/css/luvi-ui.css
  resources/css/pages/home.css
  resources/js/app.js
  resources/views/components/button/index.blade.php
  resources/views/components/card/content.blade.php
  resources/views/components/card/description.blade.php
  resources/views/components/card/footer.blade.php
  resources/views/components/card/header.blade.php
  resources/views/components/card/index.blade.php
  resources/views/components/card/title.blade.php
  resources/views/components/layouts/app.blade.php
  resources/views/components/typography/blockquote/index.blade.php
  resources/views/components/typography/h1/index.blade.php
  resources/views/components/typography/h2/index.blade.php
  resources/views/components/typography/h3/index.blade.php
  resources/views/components/typography/h4/index.blade.php
  resources/views/components/typography/inline-code/index.blade.php
  resources/views/components/typography/large/index.blade.php
  resources/views/components/typography/lead/index.blade.php
  resources/views/components/typography/list/index.blade.php
  resources/views/components/typography/muted/index.blade.php
  resources/views/components/typography/p/index.blade.php
  resources/views/components/typography/small/index.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/partials/footer.blade.php
  resources/views/livewire/partials/navbar.blade.php
  resources/views/welcome.blade.php
  routes/web.php
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

feat: add home page (desktop view) (#1)
  app/Livewire/Index.php
  app/Livewire/Partials/Footer.php
  app/Livewire/Partials/Navbar.php
  app/Livewire/User/Home.php
  app/Services/ButtonCvaService.php
  resources/css/app.css
  resources/css/global.css
  resources/css/index.tailwind.css
  resources/css/luvi-ui.css
  resources/css/pages/home.css
  resources/js/app.js
  resources/views/components/button/index.blade.php
  resources/views/components/card/content.blade.php
  resources/views/components/card/description.blade.php
  resources/views/components/card/footer.blade.php
  resources/views/components/card/header.blade.php
  resources/views/components/card/index.blade.php
  resources/views/components/card/title.blade.php
  resources/views/components/layouts/app.blade.php
  resources/views/components/typography/blockquote/index.blade.php
  resources/views/components/typography/h1/index.blade.php
  resources/views/components/typography/h2/index.blade.php
  resources/views/components/typography/h3/index.blade.php
  resources/views/components/typography/h4/index.blade.php
  resources/views/components/typography/inline-code/index.blade.php
  resources/views/components/typography/large/index.blade.php
  resources/views/components/typography/lead/index.blade.php
  resources/views/components/typography/list/index.blade.php
  resources/views/components/typography/muted/index.blade.php
  resources/views/components/typography/p/index.blade.php
  resources/views/components/typography/small/index.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/partials/footer.blade.php
  resources/views/livewire/partials/navbar.blade.php
  resources/views/welcome.blade.php
  routes/web.php
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

feat: add about page (desktop view)
  app/Livewire/Pages/About.php
  resources/views/components/breadcrumb/ellipsis.blade.php
  resources/views/components/breadcrumb/index.blade.php
  resources/views/components/breadcrumb/item.blade.php
  resources/views/components/breadcrumb/link.blade.php
  resources/views/components/breadcrumb/list.blade.php
  resources/views/components/breadcrumb/page.blade.php
  resources/views/components/breadcrumb/separator.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/about.blade.php
  resources/views/livewire/partials/navbar.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add about page (desktop view) (#2)
  app/Livewire/Pages/About.php
  resources/views/components/breadcrumb/ellipsis.blade.php
  resources/views/components/breadcrumb/index.blade.php
  resources/views/components/breadcrumb/item.blade.php
  resources/views/components/breadcrumb/link.blade.php
  resources/views/components/breadcrumb/list.blade.php
  resources/views/components/breadcrumb/page.blade.php
  resources/views/components/breadcrumb/separator.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/about.blade.php
  resources/views/livewire/partials/navbar.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat(pages): add our program pages (desktop view)
  app/Livewire/Pages/Program.php
  app/Livewire/Partials/ProgramSection.php
  resources/css/global.css
  resources/views/components/card/header.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/program.blade.php
  resources/views/livewire/partials/navbar.blade.php
  resources/views/livewire/partials/program-section.blade.php
  routes/web.php
  tailwind.config.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

feat(pages): add our program pages (desktop view) (#3)
  app/Livewire/Pages/Program.php
  app/Livewire/Partials/ProgramSection.php
  resources/css/global.css
  resources/views/components/card/header.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/program.blade.php
  resources/views/livewire/partials/navbar.blade.php
  resources/views/livewire/partials/program-section.blade.php
  routes/web.php
  tailwind.config.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

feat(pages): add our teams (desktop view)
  app/Livewire/Pages/OurTeam.php
  resources/views/livewire/pages/our-team.blade.php
  resources/views/livewire/partials/navbar.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat(pages): add our teams (desktop view) (#4)
  app/Livewire/Pages/OurTeam.php
  resources/views/livewire/pages/our-team.blade.php
  resources/views/livewire/partials/navbar.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: contact page desktop view
  app/Livewire/Pages/Contact.php
  app/Livewire/Pages/OurTeam.php
  app/Livewire/Partials/HeroSection.php
  resources/js/plugins/form.js
  resources/views/components/form/description.blade.php
  resources/views/components/form/index.blade.php
  resources/views/components/form/input.blade.php
  resources/views/components/form/item.blade.php
  resources/views/components/form/label.blade.php
  resources/views/components/form/message.blade.php
  resources/views/components/input/index.blade.php
  resources/views/components/label/index.blade.php
  resources/views/components/textarea/index.blade.php
  resources/views/livewire/pages/contact.blade.php
  resources/views/livewire/pages/our-team.blade.php
  resources/views/livewire/partials/hero-section.blade.php
  resources/views/livewire/partials/navbar.blade.php
  routes/web.php
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

feat: contact page desktop view (#5)
  app/Livewire/Pages/Contact.php
  app/Livewire/Pages/OurTeam.php
  app/Livewire/Partials/HeroSection.php
  resources/js/plugins/form.js
  resources/views/components/form/description.blade.php
  resources/views/components/form/index.blade.php
  resources/views/components/form/input.blade.php
  resources/views/components/form/item.blade.php
  resources/views/components/form/label.blade.php
  resources/views/components/form/message.blade.php
  resources/views/components/input/index.blade.php
  resources/views/components/label/index.blade.php
  resources/views/components/textarea/index.blade.php
  resources/views/livewire/pages/contact.blade.php
  resources/views/livewire/pages/our-team.blade.php
  resources/views/livewire/partials/hero-section.blade.php
  resources/views/livewire/partials/navbar.blade.php
  routes/web.php
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

feat: add login page desktop view
  app/Livewire/Auth/Login.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/partials/navbar.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add login page desktop view (#6)
  app/Livewire/Auth/Login.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/partials/navbar.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add register page desktop view
  app/Livewire/Auth/Register.php
  resources/views/components/input/index.blade.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/auth/register.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor(layout): divide input into 2 column
  resources/views/livewire/auth/register.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

[STAGING]/[ADD]/Page/register (#7)
  app/Livewire/Auth/Register.php
  resources/views/components/input/index.blade.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/auth/register.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add error layout custom
  app/Livewire/Pages/NotFound.php
  resources/views/components/layouts/app.blade.php
  resources/views/errors/401.blade.php
  resources/views/errors/402.blade.php
  resources/views/errors/403.blade.php
  resources/views/errors/404.blade.php
  resources/views/errors/419.blade.php
  resources/views/errors/429.blade.php
  resources/views/errors/500.blade.php
  resources/views/errors/503.blade.php
  resources/views/errors/layout.blade.php
  resources/views/errors/minimal.blade.php
  resources/views/livewire/pages/not-found.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add error layout custom (#8)
  app/Livewire/Pages/NotFound.php
  resources/views/components/layouts/app.blade.php
  resources/views/errors/401.blade.php
  resources/views/errors/402.blade.php
  resources/views/errors/403.blade.php
  resources/views/errors/404.blade.php
  resources/views/errors/419.blade.php
  resources/views/errors/429.blade.php
  resources/views/errors/500.blade.php
  resources/views/errors/503.blade.php
  resources/views/errors/layout.blade.php
  resources/views/errors/minimal.blade.php
  resources/views/livewire/pages/not-found.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor(auth): adjusment in remmeber me functionality
  app/Livewire/Auth/Login.php
  app/Livewire/Auth/Register.php
  resources/views/livewire/auth/login.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add forget password functionality
  app/Http/Controllers/Auth/NewPasswordController.php
  app/Http/Controllers/Auth/PasswordResetLinkController.php
  app/Livewire/Auth/ConfirmPassword.php
  app/Livewire/Auth/ForgotPassword.php
  app/Livewire/Auth/Login.php
  app/Livewire/Auth/Register.php
  app/Livewire/Auth/ResetPassword.php
  app/Livewire/Auth/VerifyEmail.php
  resources/views/auth/forgot-password.blade.php
  resources/views/layouts/guest.blade.php
  resources/views/livewire/auth/confirm-password.blade.php
  resources/views/livewire/auth/forgot-password.blade.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/auth/reset-password.blade.php
  resources/views/livewire/auth/verify-email.blade.php
  routes/auth.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add forget password functionality (#10)
  app/Http/Controllers/Auth/NewPasswordController.php
  app/Http/Controllers/Auth/PasswordResetLinkController.php
  app/Livewire/Auth/ConfirmPassword.php
  app/Livewire/Auth/ForgotPassword.php
  app/Livewire/Auth/Login.php
  app/Livewire/Auth/Register.php
  app/Livewire/Auth/ResetPassword.php
  app/Livewire/Auth/VerifyEmail.php
  resources/views/auth/forgot-password.blade.php
  resources/views/layouts/guest.blade.php
  resources/views/livewire/auth/confirm-password.blade.php
  resources/views/livewire/auth/forgot-password.blade.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/auth/reset-password.blade.php
  resources/views/livewire/auth/verify-email.blade.php
  routes/auth.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: add program detail page (undone)
  app/Livewire/Pages/CourseDetail.php
  app/Livewire/Pages/ProgramDetail.php
  resources/views/components/radio-group/index.blade.php
  resources/views/components/radio-group/item.blade.php
  resources/views/components/tabs/content.blade.php
  resources/views/components/tabs/index.blade.php
  resources/views/components/tabs/list.blade.php
  resources/views/components/tabs/trigger.blade.php
  resources/views/components/typography/h2/index.blade.php
  resources/views/dashboard.blade.php
  resources/views/layouts/guest.blade.php
  resources/views/livewire/pages/program-detail.blade.php
  resources/views/livewire/partials/footer.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: add program detail page (undone) (#12)
  app/Livewire/Pages/CourseDetail.php
  app/Livewire/Pages/ProgramDetail.php
  resources/views/components/radio-group/index.blade.php
  resources/views/components/radio-group/item.blade.php
  resources/views/components/tabs/content.blade.php
  resources/views/components/tabs/index.blade.php
  resources/views/components/tabs/list.blade.php
  resources/views/components/tabs/trigger.blade.php
  resources/views/components/typography/h2/index.blade.php
  resources/views/dashboard.blade.php
  resources/views/layouts/guest.blade.php
  resources/views/livewire/pages/program-detail.blade.php
  resources/views/livewire/partials/footer.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: add socialite
  composer.json
  composer.lock
Due: none

feat: add google oauth authentication
  app/Http/Controllers/OauthController.php
  app/Livewire/Auth/Register.php
  app/Models/User.php
  bootstrap/providers.php
  config/services.php
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/2025_01_13_100607_google_social_auth_id.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/auth/register.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

[STAGING]/[ADD]/Feat/google auth (#13)
  app/Http/Controllers/OauthController.php
  app/Livewire/Auth/Register.php
  app/Models/User.php
  bootstrap/providers.php
  composer.json
  composer.lock
  config/services.php
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/2025_01_13_100607_google_social_auth_id.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/auth/register.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

Path conditions:
  prettier --write: (any of: *.{html,scss,js}) or (any of: *.blade.php)
  eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix: any of: *.{html,scss,js}
  ./vendor/bin/pint --dirty: any of: *.php
