Repository romiardanaputra/iec-denpasar: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

feat: add payment controller
  app/Http/Controllers/Customer/OrderController.php
Due: ./vendor/bin/pint --dirty

feat: add payment models
  app/Models/Transaction/Order.php
  app/Models/Transaction/OrderItem.php
  app/Models/Transaction/Payment.php
Due: ./vendor/bin/pint --dirty

feat: add midtrans service
  app/Services/MidtransService.php
Due: ./vendor/bin/pint --dirty

feat: add custom view schedule class
  resources/views/filament/class-schedule/show.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: delete unused files
  .vercelignore
  6e952c97-523d-40ed-9139-5d3967a2650a.jpg
  api/index.php
  vercel.json
Due: ./vendor/bin/pint --dirty

refactor: change dummy content to original content
  app/Filament/Resources/ProgramResource.php
  app/Livewire/Partials/ProgramSection.php
  resources/views/components/layouts/app.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/about.blade.php
  resources/views/livewire/pages/contact.blade.php
  resources/views/livewire/pages/our-team.blade.php
  resources/views/livewire/pages/program.blade.php
  resources/views/livewire/partials/cta-section.blade.php
  resources/views/livewire/partials/faq-section.blade.php
  resources/views/livewire/partials/footer.blade.php
  resources/views/livewire/partials/hero-section.blade.php
  resources/views/livewire/partials/navbar.blade.php
  resources/views/livewire/partials/program-section.blade.php
  resources/views/livewire/partials/team-section.blade.php
  resources/views/livewire/partials/testimonial-section.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: activate form contact and send email to user
  app/Livewire/Pages/Contact.php
  app/Mail/ContactMessageNotification.php
  app/Mail/UserContactMessageConfirmation.php
  app/Models/ContactMessage.php
  database/migrations/2025_02_06_135638_create_contact_messages_table.php
  resources/views/emails/contact-message-notification.blade.php
  resources/views/emails/user-contact-message-confirmation.blade.php
  resources/views/livewire/pages/contact.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: delete unused file
  app/Filament/Resources/BookResource.php
  app/Filament/Resources/BookResource/Pages/ManageBooks.php
  app/Filament/Resources/ProgramResource.php
  app/Filament/Resources/ProgramResource/Pages/CreateProgram.php
  app/Filament/Resources/ProgramResource/Pages/EditProgram.php
  app/Filament/Resources/ProgramResource/Pages/ListPrograms.php
  app/Models/BookProgram.php
  app/Models/Program.php
  database/factories/BookProgramFactory.php
  database/factories/ProgramFactory.php
  database/seeders/BookProgramSeeder.php
  database/seeders/DummyOrderSeeder.php
  database/seeders/ProgramSeeder.php
Due: ./vendor/bin/pint --dirty

refactor: resource, seeders, factories, models
  app/Filament/Resources/Program/BookResource.php
  app/Filament/Resources/Program/BookResource/Pages/ManageBooks.php
  app/Filament/Resources/Program/ProgramDetailResource.php
  app/Filament/Resources/Program/ProgramDetailResource/Pages/CreateProgramDetail.php
  app/Filament/Resources/Program/ProgramDetailResource/Pages/EditProgramDetail.php
  app/Filament/Resources/Program/ProgramDetailResource/Pages/ListProgramDetails.php
  app/Filament/Resources/Program/ProgramResource.php
  app/Filament/Resources/Program/ProgramResource/Pages/CreateProgram.php
  app/Filament/Resources/Program/ProgramResource/Pages/EditProgram.php
  app/Filament/Resources/Program/ProgramResource/Pages/ListPrograms.php
  app/Filament/Resources/Schedule/ClassScheduleResource.php
  app/Livewire/Partials/ProgramSection.php
  app/Models/BLog/Author.php
  app/Models/BLog/Category.php
  app/Models/BLog/Link.php
  app/Models/BLog/Post.php
  app/Models/Program/Book.php
  app/Models/Program/Image.php
  app/Models/Program/Program.php
  app/Models/Program/ProgramDetail.php
  app/Models/Schedule/ClassSchedule.php
  database/factories/Program/BookFactory.php
  database/factories/Program/ProgramDetailFactory.php
  database/factories/Program/ProgramFactory.php
  database/migrations/2025_02_07_014633_create_program_details_table.php
  database/migrations/2025_02_07_014721_create_images_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/Program/BookSeeder.php
  database/seeders/Program/ProgramDetailSeeder.php
  database/seeders/Program/ProgramSeeder.php
  database/seeders/RoleSeeder.php
  database/seeders/Transaction/DummyOrderSeeder.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/pages/program-detail.blade.php
  resources/views/livewire/partials/program-section.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add multiple image, add program detail with benefit array format
  app/Filament/Resources/Program/ImageResource.php
  app/Filament/Resources/Program/ImageResource/Pages/CreateImage.php
  app/Filament/Resources/Program/ImageResource/Pages/EditImage.php
  app/Filament/Resources/Program/ImageResource/Pages/ListImages.php
  app/Filament/Resources/Program/ProgramDetailResource.php
  app/Filament/Resources/Program/ProgramResource.php
  app/Filament/Resources/Program/ProgramResource/RelationManagers/ClassScheduleRelationManager.php
  app/Filament/Resources/Program/ProgramResource/RelationManagers/DetailRelationManager.php
  app/Filament/Resources/Program/ProgramResource/RelationManagers/ImageRelationManager.php
  app/Models/Program/ProgramDetail.php
  database/migrations/2025_02_07_053528_add_deleted_at_to_program_details_table.php
  database/migrations/2025_02_07_054205_add_deleted_at_to_images_table.php
Due: ./vendor/bin/pint --dirty

feat: add users widget
  app/Filament/Resources/Blog/AuthorResource.php
  app/Filament/Resources/Blog/CategoryResource.php
  app/Filament/Resources/Blog/LinkResource.php
  app/Filament/Resources/Blog/PostResource.php
  app/Filament/Resources/Program/BookResource.php
  app/Filament/Resources/Program/ImageResource.php
  app/Filament/Resources/Program/ProgramDetailResource.php
  app/Filament/Resources/Schedule/ClassDayCodeResource.php
  app/Filament/Resources/Schedule/ClassScheduleResource.php
  app/Filament/Resources/Schedule/ClassTimeCodeResource.php
  app/Filament/Resources/TeamResource/Widgets/TeamStats.php
  app/Filament/Resources/UserResource.php
  app/Filament/Resources/UserResource/Pages/ListUsers.php
  app/Filament/Resources/UserResource/Widgets/UserOverview.php
Due: ./vendor/bin/pint --dirty

feat: add seeder for schedule
  app/Filament/Resources/Program/ImageResource.php
  app/Filament/Resources/Program/ProgramDetailResource.php
  app/Filament/Resources/Schedule/ClassScheduleResource.php
  app/Models/Program/Book.php
  app/Models/Program/Program.php
  app/Models/Schedule/ClassDayCode.php
  app/Models/Schedule/ClassDaySchedule.php
  app/Models/Schedule/ClassSchedule.php
  database/factories/Schedule/ClassScheduleFactory.php
  database/seeders/DatabaseSeeder.php
  database/seeders/Schedule/ClassScheduleSeeder.php
  resources/views/livewire/partials/program-section.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: integrate data to frontend, activate pagination and livesearch on schedule tab
  app/Livewire/Pages/ProgramDetail.php
  resources/views/livewire/pages/program-detail.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: delete unused files
  public/assets/css/perfect-scrollbar.css
  public/assets/fonts/nucleo-icons.eot
  public/assets/fonts/nucleo-icons.svg
  public/assets/fonts/nucleo-icons.ttf
  public/assets/fonts/nucleo-icons.woff
  public/assets/fonts/nucleo-icons.woff2
  public/assets/fonts/nucleo.eot
  public/assets/fonts/nucleo.ttf
  public/assets/fonts/nucleo.woff
  public/assets/fonts/nucleo.woff2
Due: none

feat: add program seeders
  database/seeders/DatabaseSeeder.php
  database/seeders/Program/ImageSeeder.php
  database/seeders/Program/ProgramDetailSeeder.php
  database/seeders/Program/ProgramSeeder.php
Due: ./vendor/bin/pint --dirty

feat: add program's factories
  database/factories/Program/ImageFactory.php
  database/factories/Program/ProgramDetailFactory.php
Due: ./vendor/bin/pint --dirty

feat: adjustment be to fe program details
  app/Filament/Resources/Program/ProgramDetailResource.php
  app/Livewire/Pages/ProgramDetail.php
  app/Models/Program/Program.php
  app/Models/Program/ProgramDetail.php
  app/Models/User.php
  resources/views/components/layouts/app.blade.php
  resources/views/livewire/pages/program-detail.blade.php
  resources/views/livewire/partials/program-section.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add order's and payment's table migration
  database/migrations/2025_02_02_141446_create_order_items_table.php
  database/migrations/2025_02_02_141517_create_payments_table.php
  database/migrations/2025_02_07_014633_create_program_details_table.php
  database/migrations/2025_02_10_100051_create_registrations_table.php
  database/migrations/2025_02_11_063532_add_product_name_to_order_items_table.php
Due: ./vendor/bin/pint --dirty

feat: add order's and payment's model
  app/Models/Transaction/Order.php
  app/Models/Transaction/OrderItem.php
  app/Models/Transaction/Payment.php
Due: ./vendor/bin/pint --dirty

feat: add midtrans payment controller
  app/Http/Controllers/PaymentController.php
Due: ./vendor/bin/pint --dirty

feat: add registrans 's model during checkout
  app/Models/Transaction/Registration.php
Due: ./vendor/bin/pint --dirty

chore: add midtrans route handling
  routes/web.php
Due: ./vendor/bin/pint --dirty

refactor: payment part 2 add success handler
  app/Http/Controllers/PaymentController.php
  app/Livewire/Pages/ProgramDetail.php
  app/Livewire/Partials/Program/RegistransForm.php
  app/Livewire/Partials/Program/ScheduleTable.php
  app/Livewire/Partials/ProgramSection.php
  app/Livewire/Partials/ShareWhatsapp.php
  app/Livewire/Partials/Transaction/PaymentSuccess.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  app/Services/MidtransService.php
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/2025_02_02_141517_create_payments_table.php
  public/midtrans/index.js
  resources/views/components/layouts/app.blade.php
  resources/views/livewire/pages/program-detail.blade.php
  resources/views/livewire/partials/program/registrans-form.blade.php
  resources/views/livewire/partials/program/schedule-table.blade.php
  resources/views/livewire/partials/share-whatsapp.blade.php
  resources/views/livewire/partials/transaction/payment-success.blade.php
  routes/web.php
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

refactor(filament-resource): add teams input on classSchedule
  app/Filament/Resources/Schedule/ClassScheduleResource.php
Due: ./vendor/bin/pint --dirty

feat: add success, pending, error payment handling
  app/Http/Controllers/PaymentController.php
  app/Livewire/Partials/Transaction/FailedPayment.php
  app/Livewire/Partials/Transaction/PendingPayment.php
  public/midtrans/index.js
  resources/views/livewire/partials/transaction/failed-payment.blade.php
  resources/views/livewire/partials/transaction/pending-payment.blade.php
  routes/web.php
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

refactor: schedule, images, team seeder and factory
  app/Models/Schedule/ClassSchedule.php
  app/Models/Team.php
  database/factories/Program/ImageFactory.php
  database/factories/Schedule/ClassScheduleFactory.php
  database/migrations/2025_02_03_093136_create_class_schedules_table.php
  database/seeders/Program/ImageSeeder.php
  database/seeders/Program/ProgramDetailSeeder.php
  database/seeders/Program/ProgramSeeder.php
  database/seeders/Schedule/ClassScheduleSeeder.php
Due: ./vendor/bin/pint --dirty

refactor: fix bug on image rendering both from storage and not
  resources/views/components/layouts/app.blade.php
  resources/views/livewire/pages/program-detail.blade.php
  resources/views/livewire/partials/navbar.blade.php
  resources/views/livewire/partials/program-section.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add validation if the user have pending order
  app/Http/Controllers/PaymentController.php
  app/Livewire/Feature/User/Dashboard.php
  app/Livewire/Pages/ProgramDetail.php
  public/midtrans/index.js
  resources/views/components/layouts/app.blade.php
  resources/views/livewire/feature/user/dashboard.blade.php
  resources/views/livewire/pages/program-detail.blade.php
  resources/views/livewire/partials/program/registrans-form.blade.php
  routes/web.php
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

refactor: show pending payment at dashbord
  app/Http/Controllers/PaymentController.php
  app/Livewire/Feature/User/Bill.php
  app/Livewire/Feature/User/Dashboard.php
  app/Livewire/Pages/ProgramDetail.php
  app/Models/Program/Program.php
  app/Models/Transaction/Order.php
  database/migrations/2025_02_02_100051_create_registrations_table.php
  database/migrations/2025_02_02_141357_create_orders_table.php
  resources/views/components/layouts/app.blade.php
  resources/views/livewire/feature/user/bill.blade.php
  resources/views/livewire/feature/user/dashboard.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add testimonial and faq section, fillament and integrate frontend
  app/Filament/Resources/Web/FaqResource.php
  app/Filament/Resources/Web/FaqResource/Pages/ManageFaqs.php
  app/Filament/Resources/Web/TestimonialResource.php
  app/Filament/Resources/Web/TestimonialResource/Pages/ManageTestimonials.php
  app/Livewire/Partials/FaqSection.php
  app/Livewire/Partials/TestimonialSection.php
  app/Models/Web/Faq.php
  app/Models/Web/Testimonial.php
  database/factories/Web/FaqFactory.php
  database/factories/Web/TestimonialFactory.php
  database/migrations/2025_02_02_100051_create_registrations_table.php
  database/migrations/2025_02_15_020304_create_faqs_table.php
  database/migrations/2025_02_15_020527_create_testimonials_table.php
  database/migrations/2025_02_15_041019_create_testimonials_table.php
  database/migrations/2025_02_15_041308_create_faqs_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/Web/FaqSeeder.php
  database/seeders/Web/TestimonialSeeder.php
  resources/views/livewire/partials/testimonial-section.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: faq seeder, migration, factory
  database/migrations/2025_02_15_041019_create_testimonials_table.php
  database/migrations/2025_02_15_041308_create_faqs_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/Schedule/ClassScheduleSeeder.php
  database/seeders/Web/FaqSeeder.php
  database/seeders/Web/TestimonialSeeder.php
  resources/views/livewire/partials/faq-section.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add blog post page
  app/Livewire/Pages/Blog.php
  app/Livewire/Pages/BlogDetail.php
  resources/views/livewire/pages/blog-detail.blade.php
  resources/views/livewire/pages/blog.blade.php
  resources/views/livewire/partials/faq-section.blade.php
  resources/views/livewire/partials/navbar.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor(responsive): fix style for all public page include register login
  app/Livewire/Auth/Login.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/auth/register.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/about.blade.php
  resources/views/livewire/partials/hero-section.blade.php
  resources/views/livewire/partials/navbar.blade.php
  resources/views/livewire/partials/program-section.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

fix(field): fixing togle visibility password at register and login
  app/Livewire/Auth/Register.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/auth/register.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

fix: bug when minify @ converted into x-on
  config/minify.php
Due: ./vendor/bin/pint --dirty

refactor(dashboard): add computed to getOrder function
  app/Livewire/Feature/User/Dashboard.php
Due: ./vendor/bin/pint --dirty

feat: finishing update profile and password reset after login
  app/Livewire/Feature/User/Profile.php
  app/Models/User.php
  config/livewire.php
  database/migrations/2025_02_17_054207_add_about_to_users_table.php
  resources/views/components/accordion/trigger.blade.php
  resources/views/components/layouts/app.blade.php
  resources/views/components/sidebar/side-link.blade.php
  resources/views/layouts/navbars/auth/nav.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/user/dashboard.blade.php
  resources/views/livewire/feature/user/exam-grade.blade.php
  resources/views/livewire/feature/user/profile.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

Path conditions:
  prettier --write: (any of: *.{html,scss,js}) or (any of: *.blade.php)
  eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix: any of: *.{html,scss,js}
  ./vendor/bin/pint --dirty: any of: *.php
