Repository romiardanaputra/iec-denpasar: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

.lintstagedrc.json:

{
  "*.{html,scss,js}": [
    "prettier --write",
    "eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix"
  ],
  "*.php": ["./vendor/bin/pint --dirty"],
  "*.blade.php": ["prettier --write"]
}

fix(profile): fix phone number validation
  app/Livewire/Feature/User/Profile.php
Due: ./vendor/bin/pint --dirty

chore(grade resource): add program name when choose student name
  app/Filament/Resources/Feature/GradeResource.php
Due: ./vendor/bin/pint --dirty

refactor(bill): add filter and payment status tab
  app/Livewire/Feature/User/Bill.php
  resources/views/livewire/feature/user/bill.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor(dashboard): add cache fand adjust schedule table
  app/Livewire/Feature/User/Dashboard.php
  resources/views/livewire/feature/user/dashboard.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add registration observer for cache handling
  app/Models/Transaction/Registration.php
  app/Observers/RegistrationObserver.php
Due: ./vendor/bin/pint --dirty

style: remove commented syntax
  resources/views/components/layouts/app.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

style: adjust pading sub nav at sidebar
  resources/views/layouts/navbars/auth/sidebar.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: update invoice before and after order paid off
  resources/views/livewire/feature/user/bill-detail.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

style: reformatted by prettier and lint-staged
  resources/views/livewire/feature/user/exam-grade.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

style(bill): fix typo in tab component's name
  resources/views/livewire/feature/user/bill.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: update SEO iec denpasar
  public/robots.txt
  public/sitemap.xml
  resources/views/components/layouts/app.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: update mobile and SEO
  resources/views/components/sidebar/side-link.blade.php
  resources/views/layouts/navbars/auth/nav.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/user/bill-detail.blade.php
  resources/views/livewire/feature/user/bill.blade.php
  resources/views/livewire/feature/user/dashboard.blade.php
  resources/views/livewire/feature/user/exam-grade.blade.php
  resources/views/livewire/feature/user/profile.blade.php
  resources/views/livewire/pages/blog.blade.php
  resources/views/livewire/pages/contact.blade.php
  resources/views/livewire/partials/program/schedule-table.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: update midtrans service
  app/Services/MidtransService.php
Due: ./vendor/bin/pint --dirty

chore: update midtrans bill detail js handler
  resources/views/livewire/feature/user/bill-detail.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: update midtrans callback default url
  app/Services/MidtransService.php
Due: ./vendor/bin/pint --dirty

chore: add order observer for update
  app/Observers/OrderObserver.php
Due: ./vendor/bin/pint --dirty

chore: register observer to order model
  app/Models/Transaction/Order.php
Due: ./vendor/bin/pint --dirty

fix: cache, active course, active student, payment
  app/Filament/Pages/Dashboard.php
  app/Filament/Resources/Blog/AuthorResource.php
  app/Filament/Resources/Blog/CategoryResource.php
  app/Filament/Resources/Blog/LinkResource.php
  app/Filament/Resources/Blog/PostResource.php
  app/Filament/Resources/Feature/GradeResource.php
  app/Filament/Resources/Transaction/OrderResource.php
  app/Filament/Resources/UserResource.php
  app/Filament/Widgets/LatestOrders.php
  app/Http/Controllers/PaymentController.php
  app/Livewire/Feature/User/Dashboard.php
  app/Models/Feature/RegistrationSchedule.php
  app/Models/User.php
  app/Observers/RegistrationObserver.php
  app/Observers/RegistrationScheduleObserver.php
  database/migrations/2025_04_28_161558_alter_order_id_nullable_on_orders_table.php
  database/migrations/2025_04_28_172129_add_student_card_number_to_users_table.php
  resources/views/livewire/feature/payment/checkout.blade.php
  resources/views/livewire/partials/testimonial-section.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: adjusted payment
  app/Http/Controllers/PaymentController.php
Due: ./vendor/bin/pint --dirty

chore: update bill detail
  resources/views/livewire/feature/user/bill-detail.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: update midtrans callback
  app/Http/Controllers/PaymentController.php
Due: ./vendor/bin/pint --dirty

fix(traceability): handle after payment hook susccess in backend
  app/Http/Controllers/PaymentController.php
Due: ./vendor/bin/pint --dirty

refactor(schedule): add slot to schedule at admin
  app/Enums/SlotClassStatus.php
  app/Filament/Resources/Schedule/ClassScheduleResource.php
Due: ./vendor/bin/pint --dirty

chore: fetch schedule and validate schedule as query string
  app/Http/Controllers/PaymentController.php
Due: ./vendor/bin/pint --dirty

refactor: add checkbox to allow user choose schedule
  app/Livewire/Feature/Payment/Checkout.php
  app/Livewire/Pages/ProgramDetail.php
  app/Livewire/Partials/Program/ScheduleTable.php
  resources/views/livewire/feature/payment/checkout.blade.php
  resources/views/livewire/pages/program-detail.blade.php
  resources/views/livewire/partials/program/schedule-table.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: add search and pagination for schedule table
  app/Livewire/Feature/User/Dashboard.php
Due: ./vendor/bin/pint --dirty

refactor: add slot and slot status in model and database table
  app/Models/Schedule/ClassSchedule.php
  database/migrations/2025_02_03_093136_create_class_schedules_table.php
  database/migrations/2025_02_23_123518_create_registration_schedules_table.php
Due: ./vendor/bin/pint --dirty

chore: clean and adjusting code base from its component
  resources/views/livewire/feature/user/dashboard.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: remove slug params on checkout route
  routes/web.php
Due: ./vendor/bin/pint --dirty

chore: add log to midtrans client
  storage/app/public/midtrans/index.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix

refactor: adjusting enum for badge in admin backoffice
  app/Enums/OrderStatus.php
  app/Enums/PaymentMethod.php
  app/Enums/PaymentStatus.php
  app/Enums/SlotClassStatus.php
Due: ./vendor/bin/pint --dirty

feat: register widget direct to dashboard
  app/Filament/Pages/Dashboard.php
Due: ./vendor/bin/pint --dirty

feat: add notif to full class and handle full class slot
  app/Filament/Resources/Schedule/ClassScheduleResource.php
  app/Filament/Resources/Schedule/ClassScheduleResource/Pages/CreateClassSchedule.php
  app/Filament/Resources/Schedule/ClassScheduleResource/Pages/EditClassSchedule.php
  app/Filament/Resources/Schedule/ClassScheduleResource/Pages/ListClassSchedules.php
  app/Filament/Resources/Schedule/ClassScheduleResource/RelationManagers/RegistrationRelationManager.php
  app/Filament/Resources/Schedule/ClassScheduleResource/Widgets/ClassSchedulePerProgramChart.php
  app/Filament/Resources/Schedule/ClassScheduleResource/Widgets/ClassScheduleProgramStat.php
Due: ./vendor/bin/pint --dirty

refactor: add badge color and icon
  app/Filament/Resources/Transaction/OrderResource.php
Due: ./vendor/bin/pint --dirty

chore: change navigation label
  app/Filament/Resources/Transaction/RegistrationResource.php
Due: ./vendor/bin/pint --dirty

feat: add widget to handle full class schedule
  app/Filament/Widgets/AdminNotificationWidget.php
  app/Livewire/AdminNotificationModal.php
  database/migrations/2025_05_08_183324_add_notified_admin_to_class_schedules_table.php
  resources/views/filament/widgets/admin-notification-widget.blade.php
  resources/views/livewire/admin-notification-modal.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

style: remove white space at checkout method payment controller
  app/Http/Controllers/PaymentController.php
  app/Observers/RegistrationScheduleObserver.php
  resources/views/layouts/navbars/auth/nav.blade.php
  resources/views/livewire/partials/program/schedule-table.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: addi cancelled enum at paymentStatus
  app/Enums/PaymentStatus.php
Due: ./vendor/bin/pint --dirty

refactor: fix slot status doesnot change when admin update slot
  app/Filament/Resources/Schedule/ClassScheduleResource.php
Due: ./vendor/bin/pint --dirty

refactor: adjust code and handle client for selecting schedule
  app/Livewire/Partials/Program/ScheduleTable.php
Due: ./vendor/bin/pint --dirty
