Repository romiardanaputra/iec-denpasar: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

refactor: adjustment content in dashboard user
  resources/views/layouts/footers/auth/footer.blade.php
  resources/views/layouts/navbars/auth/nav.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/user/dashboard.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: adjustment content in dashboard user (#15)
  resources/views/layouts/footers/auth/footer.blade.php
  resources/views/layouts/navbars/auth/nav.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/user/dashboard.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add profile and change password UI at dashboard
  app/Livewire/Feature/User/ChangePassword.php
  app/Livewire/Feature/User/Profile.php
  resources/views/layouts/navbars/auth/nav.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/user/change-password.blade.php
  resources/views/livewire/feature/user/profile.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add profile and change password UI at dashboard (#16)
  app/Livewire/Feature/User/ChangePassword.php
  app/Livewire/Feature/User/Profile.php
  resources/views/layouts/navbars/auth/nav.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/user/change-password.blade.php
  resources/views/livewire/feature/user/profile.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add page schedule for user (UI)
  app/Livewire/Feature/User/Schedule.php
  app/Models/Event.php
  app/Services/DialogCvaService.php
  composer.json
  composer.lock
  database/migrations/2025_01_19_225600_create_events_table.php
  resources/views/components/dialog/close.blade.php
  resources/views/components/dialog/content.blade.php
  resources/views/components/dialog/description.blade.php
  resources/views/components/dialog/footer.blade.php
  resources/views/components/dialog/header.blade.php
  resources/views/components/dialog/index.blade.php
  resources/views/components/dialog/title.blade.php
  resources/views/components/dialog/trigger.blade.php
  resources/views/layouts/app.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/user/schedule.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add page schedule for user (UI) (#17)
  app/Livewire/Feature/User/Schedule.php
  app/Models/Event.php
  app/Services/DialogCvaService.php
  composer.json
  composer.lock
  database/migrations/2025_01_19_225600_create_events_table.php
  resources/views/components/dialog/close.blade.php
  resources/views/components/dialog/content.blade.php
  resources/views/components/dialog/description.blade.php
  resources/views/components/dialog/footer.blade.php
  resources/views/components/dialog/header.blade.php
  resources/views/components/dialog/index.blade.php
  resources/views/components/dialog/title.blade.php
  resources/views/components/dialog/trigger.blade.php
  resources/views/layouts/app.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/user/schedule.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add exam grade page (ui desktop)
  app/Livewire/Feature/User/ExamGrade.php
  app/Services/BadgeCvaService.php
  app/View/Components/ProgressBar.php
  resources/views/components/badge/index.blade.php
  resources/views/components/progress-bar/index.blade.php
  resources/views/errors/minimal.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/user/exam-grade.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add exam grade page (ui desktop) (#18)
  app/Livewire/Feature/User/ExamGrade.php
  app/Services/BadgeCvaService.php
  app/View/Components/ProgressBar.php
  resources/views/components/badge/index.blade.php
  resources/views/components/progress-bar/index.blade.php
  resources/views/errors/minimal.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/user/exam-grade.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add accordion component
  resources/js/plugins/accordion.js
  resources/js/plugins/collapse.js
  resources/views/components/accordion/content.blade.php
  resources/views/components/accordion/index.blade.php
  resources/views/components/accordion/item.blade.php
  resources/views/components/accordion/trigger.blade.php
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

feat: add class info page desktop mode
  app/Livewire/Feature/User/ChangePassword.php
  app/Livewire/Feature/User/ClassInfo.php
  resources/js/app.js
  resources/views/components/accordion/trigger.blade.php
  resources/views/components/avatar/fallback.blade.php
  resources/views/components/avatar/image.blade.php
  resources/views/components/avatar/index.blade.php
  resources/views/components/layouts/app.blade.php
  resources/views/layouts/app.blade.php
  resources/views/layouts/footers/auth/footer.blade.php
  resources/views/layouts/guest.blade.php
  resources/views/layouts/navbars/auth/nav.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/layouts/navigation.blade.php
  resources/views/livewire/auth/register.blade.php
  resources/views/livewire/feature/user/change-password.blade.php
  resources/views/livewire/feature/user/class-info.blade.php
  resources/views/livewire/feature/user/profile.blade.php
  resources/views/livewire/feature/user/schedule.blade.php
  routes/web.php
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

refactor: add class schedule section
  app/Models/User.php
  resources/views/components/dialog/trigger.blade.php
  resources/views/livewire/feature/user/class-info.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

[STAGING]/[ADD]/Page/class info (#19)
  app/Livewire/Feature/User/ChangePassword.php
  app/Livewire/Feature/User/ClassInfo.php
  app/Models/User.php
  resources/js/app.js
  resources/js/plugins/accordion.js
  resources/js/plugins/collapse.js
  resources/views/components/accordion/content.blade.php
  resources/views/components/accordion/index.blade.php
  resources/views/components/accordion/item.blade.php
  resources/views/components/accordion/trigger.blade.php
  resources/views/components/avatar/fallback.blade.php
  resources/views/components/avatar/image.blade.php
  resources/views/components/avatar/index.blade.php
  resources/views/components/dialog/trigger.blade.php
  resources/views/components/layouts/app.blade.php
  resources/views/layouts/app.blade.php
  resources/views/layouts/footers/auth/footer.blade.php
  resources/views/layouts/guest.blade.php
  resources/views/layouts/navbars/auth/nav.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/layouts/navigation.blade.php
  resources/views/livewire/auth/register.blade.php
  resources/views/livewire/feature/user/change-password.blade.php
  resources/views/livewire/feature/user/class-info.blade.php
  resources/views/livewire/feature/user/profile.blade.php
  resources/views/livewire/feature/user/schedule.blade.php
  routes/web.php
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

feat: add bill page ui desktop mode
  app/Livewire/Feature/User/Bill.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/user/bill.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor(bill): remove unused section layout
  resources/views/livewire/feature/user/bill.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add invoice payment detail
  app/Livewire/Feature/Payment/Invoice.php
  resources/views/livewire/feature/payment/invoice.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

[STAGING]/[ADD]/Page/bill (#20)
  app/Livewire/Feature/Payment/Invoice.php
  app/Livewire/Feature/User/Bill.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/payment/invoice.blade.php
  resources/views/livewire/feature/user/bill.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

build: add vercel config to project
  .gitignore
  .vercelignore
  api/index.php
  composer.json
  composer.lock
  vercel.json
Due: ./vendor/bin/pint --dirty

[MAIN]/[ADD]/Staging build: config vercel (#22)
  .gitignore
  .vercelignore
  api/index.php
  composer.json
  composer.lock
  vercel.json
Due: ./vendor/bin/pint --dirty

build: update vercel json
  .gitignore
  vercel.json
Due: none

build: update versel json
  vercel.json
Due: none

chore: remove unused deployment using vercel
  .vercelignore
  api/index.php
  resources/views/livewire/pages/not-found.blade.php
  vercel.json
Due: prettier --write, ./vendor/bin/pint --dirty

chore(deps): add swipper js
  package-lock.json
  package.json
  yarn.lock
Due: none

refactor: seprate section to component in public page
  resources/css/global.css
  resources/js/app.js
  resources/views/components/layouts/app.blade.php
  resources/views/errors/minimal.blade.php
  resources/views/layouts/app.blade.php
  resources/views/layouts/guest.blade.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/auth/register.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/about.blade.php
  resources/views/livewire/pages/contact.blade.php
  resources/views/livewire/pages/our-team.blade.php
  resources/views/livewire/pages/program.blade.php
  resources/views/livewire/partials/cta-section.blade.php
  resources/views/livewire/partials/faq-section.blade.php
  resources/views/livewire/partials/footer.blade.php
  resources/views/livewire/partials/hero-section.blade.php
  resources/views/livewire/partials/navbar.blade.php
  resources/views/livewire/partials/program-section.blade.php
  resources/views/livewire/partials/team-section.blade.php
  resources/views/livewire/partials/testimonial-section.blade.php
  routes/web.php
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

refactor(auth): fix authorization for user and admin
  app/Http/Controllers/OauthController.php
  app/Http/Middleware/HasRoleAdminMiddleware.php
  app/Http/Middleware/RedirectIfNotFillamentMiddleware.php
  app/Livewire/Index.php
  app/Livewire/Pages/About.php
  app/Livewire/Partials/CtaSection.php
  app/Livewire/Partials/FaqSection.php
  app/Livewire/Partials/ProgramSection.php
  app/Livewire/Partials/TeamSection.php
  app/Livewire/Partials/TestimonialSection.php
  app/Models/Role.php
  app/Models/User.php
  app/Providers/Filament/AdminPanelProvider.php
  app/Traits/HasRoles.php
  bootstrap/app.php
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/2025_01_26_050911_create_roles_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/RoleSeeder.php
Due: ./vendor/bin/pint --dirty

refactor: fix livewire conflicted layout
  resources/views/components/layouts/app.blade.php
  resources/views/layouts/app.blade.php
  resources/views/layouts/guest.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/user/bill.blade.php
  resources/views/livewire/feature/user/class-info.blade.php
  resources/views/livewire/feature/user/dashboard.blade.php
  resources/views/livewire/feature/user/exam-grade.blade.php
  resources/views/livewire/feature/user/profile.blade.php
  resources/views/livewire/feature/user/schedule.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/about.blade.php
  resources/views/livewire/pages/contact.blade.php
  resources/views/livewire/pages/our-team.blade.php
  resources/views/livewire/pages/program-detail.blade.php
  resources/views/livewire/pages/program.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: add dynamic title
  app/Livewire/Auth/Login.php
  app/Livewire/Auth/Register.php
  app/Livewire/Feature/User/Bill.php
  app/Livewire/Feature/User/ClassInfo.php
  app/Livewire/Feature/User/Dashboard.php
  app/Livewire/Feature/User/ExamGrade.php
  app/Livewire/Feature/User/Profile.php
  app/Livewire/Feature/User/Schedule.php
  app/Livewire/Pages/Contact.php
  app/Livewire/Pages/OurTeam.php
  app/Livewire/Pages/Program.php
Due: ./vendor/bin/pint --dirty

chore: add favico iec denpasar
  public/favicon.ico
Due: none

chore: delete unused 404 file
  app/Livewire/Pages/NotFound.php
Due: ./vendor/bin/pint --dirty

chore: adjusment blade layout
  resources/views/components/layouts/app.blade.php
  resources/views/livewire/partials/navbar.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add navlink blade component
  resources/views/components/navbar/nav-link.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: public page, google oauth, verify email (undone)
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Http/Controllers/Auth/EmailVerificationPromptController.php
  app/Http/Controllers/Auth/NewPasswordController.php
  app/Http/Controllers/Auth/PasswordResetLinkController.php
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Http/Controllers/Auth/VerifyEmailController.php
  app/Http/Controllers/OauthController.php
  app/Livewire/Auth/EmailVerificationPrompt.php
  app/Livewire/Auth/ForgotPassword.php
  app/Livewire/Auth/Login.php
  app/Livewire/Auth/Logout.php
  app/Livewire/Auth/Register.php
  app/Livewire/Auth/ResetPassword.php
  app/Livewire/Auth/VerifyEmail.php
  app/Models/User.php
  app/Services/AlertCvaService.php
  database/migrations/2025_01_13_100607_google_social_auth_id.php
  database/seeders/RoleSeeder.php
  resources/views/components/alert/description.blade.php
  resources/views/components/alert/index.blade.php
  resources/views/components/alert/title.blade.php
  resources/views/components/layouts/app.blade.php
  resources/views/components/separator/index.blade.php
  resources/views/livewire/auth/email-verification-prompt.blade.php
  resources/views/livewire/auth/forgot-password.blade.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/auth/register.blade.php
  resources/views/livewire/auth/reset-password.blade.php
  resources/views/livewire/auth/verify-email.blade.php
  routes/auth.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

fix: verify email address
  app/Http/Controllers/Auth/VerifyEmailController.php
  app/Livewire/Auth/EmailVerificationPrompt.php
  app/Livewire/Auth/Logout.php
  app/Livewire/Auth/Register.php
  app/Livewire/Auth/VerifyEmail.php
  app/Models/User.php
  resources/views/components/layouts/app.blade.php
  resources/views/components/link/index.blade.php
  resources/views/livewire/auth/email-verification-prompt.blade.php
  resources/views/livewire/auth/register.blade.php
  resources/views/livewire/auth/verify-email.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: add seo tools package
  composer.json
  composer.lock
Due: none

feat: add seo on page for public page
  app/Livewire/Index.php
  app/Livewire/Pages/About.php
  app/Livewire/Pages/Contact.php
  app/Livewire/Pages/OurTeam.php
  app/Livewire/Pages/Program.php
  app/Livewire/Pages/ProgramDetail.php
Due: ./vendor/bin/pint --dirty

chore: delete unused file
  app/Livewire/Pages/CourseDetail.php
Due: ./vendor/bin/pint --dirty

chore: modify seotools config
  config/seotools.php
Due: ./vendor/bin/pint --dirty

chore: modify robot in order to deny admin being published
  resources/views/components/layouts/app.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add spatie to generate sitemap.xml
  composer.json
  composer.lock
Due: none

Path conditions:
  prettier --write: (any of: *.{html,scss,js}) or (any of: *.blade.php)
  eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix: any of: *.{html,scss,js}
  ./vendor/bin/pint --dirty: any of: *.php
