Repository romiardanaputra/iec-denpasar: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

chore: comment other seeder to minimalize confussion
  database/seeders/DatabaseSeeder.php
  database/seeders/RoleSeeder.php
Due: ./vendor/bin/pint --dirty

refactor(pages): improve UI and UX each page
  app/Livewire/Pages/Contact.php
  app/Livewire/Pages/OurTeam.php
  app/Livewire/Partials/Footer.php
  app/Livewire/Partials/HeroSection.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/partials/faq-section.blade.php
  resources/views/livewire/partials/footer.blade.php
  resources/views/livewire/partials/hero-section.blade.php
  resources/views/livewire/partials/navbar.blade.php
  resources/views/livewire/partials/program-section.blade.php
  resources/views/livewire/partials/team-section.blade.php
  resources/views/livewire/partials/testimonial-section.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: adjustment and fix responsiveness
  resources/css/global.css
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/about.blade.php
  resources/views/livewire/partials/empty-state.blade.php
  resources/views/livewire/partials/faq-section.blade.php
  resources/views/livewire/partials/footer.blade.php
  resources/views/livewire/partials/hero-section.blade.php
  resources/views/livewire/partials/program-section.blade.php
  resources/views/livewire/partials/team-section.blade.php
  resources/views/livewire/partials/testimonial-section.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: adjsut midtrans
  app/Http/Controllers/Customer/OrderController.php
  app/Http/Controllers/PaymentController.php
  app/Livewire/Feature/User/Bill.php
  app/Livewire/Feature/User/BillDetail.php
  app/Models/Transaction/Payment.php
  app/Models/Transaction/Team.php
  app/Services/MidtransService.php
  database/migrations/2025_02_02_141517_create_payments_table.php
  resources/views/components/layouts/app.blade.php
  resources/views/livewire/feature/user/bill-detail.blade.php
  resources/views/livewire/feature/user/bill.blade.php
  resources/views/livewire/partials/program-section.blade.php
  resources/views/livewire/partials/transaction/failed-payment.blade.php
  routes/web.php
  storage/app/public/program/01JNZRVJ8J14SS8R4DZFCX20ZQ.jpg
  storage/app/public/program/01JP1TRDPC4AW4F6T0YFXXZV3Z.jpg
Due: prettier --write, ./vendor/bin/pint --dirty

chore: remove import font and change to link
  resources/css/global.css
Due: none

chore: modify midtrans calback route
  routes/web.php
Due: ./vendor/bin/pint --dirty

chore: remove the unused file
  app/Models/Transaction/Team.php
  resources/js/swiper-team.js
  resources/js/swiper-testimonial.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

chore: fix blog and add real seeder
  app/Livewire/Feature/User/BillDetail.php
  app/Livewire/Pages/Blog.php
  app/Livewire/Pages/BlogDetail.php
  app/Livewire/Partials/ProgramSection.php
  app/Models/Team.php
  database/factories/Blog/AuthorFactory.php
  database/seeders/Blog/AuthorSeeder.php
  database/seeders/Blog/CategorySeeder.php
  database/seeders/Blog/PostSeeder.php
  database/seeders/DatabaseSeeder.php
  database/seeders/Program/ProgramDetailSeeder.php
  database/seeders/TeamSeeder.php
  database/seeders/Web/FaqSeeder.php
  database/seeders/Web/TestimonialSeeder.php
  resources/css/app.css
  resources/css/partials/testimonial-section.css
  resources/js/app.js
  resources/js/initAlphine.js
  resources/js/initFlowbite.js
  resources/js/partials/team-section.js
  resources/js/partials/testimonial-section.js
  resources/views/components/layouts/app.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/payment/invoice.blade.php
  resources/views/livewire/feature/user/bill-detail.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/blog-detail.blade.php
  resources/views/livewire/pages/blog.blade.php
  resources/views/livewire/pages/program-detail.blade.php
  resources/views/livewire/partials/cta-section.blade.php
  resources/views/livewire/partials/footer.blade.php
  resources/views/livewire/partials/program-section.blade.php
  resources/views/livewire/partials/team-section.blade.php
  resources/views/livewire/partials/testimonial-section.blade.php
  vite.config.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

chore: change blog typo
  app/Models/Blog/Author.php
  app/Models/Blog/Category.php
  app/Models/Blog/Link.php
  app/Models/Blog/Post.php
Due: ./vendor/bin/pint --dirty

chore: register testimonial css section to vite config
  vite.config.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix

refactor: update seo staging iec dps
  app/Livewire/Index.php
  app/Livewire/Pages/About.php
  app/Livewire/Pages/Blog.php
  app/Livewire/Pages/BlogDetail.php
  app/Livewire/Pages/Contact.php
  app/Livewire/Pages/OurTeam.php
  app/Livewire/Pages/Program.php
  app/Livewire/Pages/ProgramDetail.php
  storage/app/public/iec-assets/iec-dps-og.png
Due: ./vendor/bin/pint --dirty

chore: update robot.txt and adjust navbar
  public/robots.txt
  resources/views/livewire/partials/navbar.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: remove all wire:navigate due to issue in js
  resources/views/components/sidebar/side-link.blade.php
  resources/views/layouts/footers/auth/footer.blade.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/auth/register.blade.php
  resources/views/livewire/feature/user/bill.blade.php
  resources/views/livewire/feature/user/dashboard.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/blog.blade.php
  resources/views/livewire/partials/cta-section.blade.php
  resources/views/livewire/partials/program-section.blade.php
  resources/views/livewire/partials/transaction/failed-payment.blade.php
  resources/views/livewire/partials/transaction/pending-payment.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: test seo on landing page
  app/Livewire/Index.php
Due: ./vendor/bin/pint --dirty

chore: fix open graph image path
  app/Livewire/Index.php
Due: ./vendor/bin/pint --dirty

fix: error console perfect scrollbar not found
  public/assets/js/soft-ui-dashboard-tailwind.min.js
  resources/views/components/layouts/app.blade.php
  storage/app/public/assets/js/soft-ui-dashboard-tailwind.min.js
  storage/app/public/assets/js/swiper-testimonial.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

fix: perfect-scroll js not found
  storage/app/public/assets/js/soft-ui-dashboard-tailwind.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix

fix: open graph image on public page
  app/Livewire/Pages/About.php
  app/Livewire/Pages/Blog.php
  app/Livewire/Pages/BlogDetail.php
  app/Livewire/Pages/Contact.php
  app/Livewire/Pages/OurTeam.php
  app/Livewire/Pages/Program.php
  app/Livewire/Pages/ProgramDetail.php
Due: ./vendor/bin/pint --dirty

chore: remove postal code, country code, adn city fields
  app/Http/Controllers/OauthController.php
  app/Models/User.php
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/2025_02_17_054207_add_about_to_users_table.php
  database/seeders/RoleSeeder.php
  resources/views/livewire/feature/user/profile.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: register and login add helper text below field
  app/Livewire/Feature/User/Profile.php
  resources/data/countries.json
  resources/views/components/layouts/app.blade.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/auth/register.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: fix open graph in blog detail
  app/Livewire/Pages/BlogDetail.php
Due: ./vendor/bin/pint --dirty

chore: fix program detail and seo program detail
  app/Livewire/Pages/ProgramDetail.php
  app/Livewire/Partials/Program/ScheduleTable.php
  database/seeders/DatabaseSeeder.php
  database/seeders/Program/ProgramDetailSeeder.php
  public/midtrans/index.js
  resources/views/layouts/footers/auth/footer.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/program-detail.blade.php
  resources/views/livewire/partials/program/schedule-table.blade.php
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

feat: add midtrans snap api js
  public/midtrans/index.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix

fix: callback url midtrans
  app/Livewire/Feature/User/Dashboard.php
  app/Livewire/Pages/ProgramDetail.php
  resources/views/livewire/pages/program-detail.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: admin adjusted dashboard
  resources/views/components/layouts/app.blade.php
  resources/views/components/sidebar/side-link.blade.php
  resources/views/livewire/feature/user/dashboard.blade.php
  resources/views/livewire/partials/program/schedule-table.blade.php
  resources/views/livewire/partials/team-section.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: adjust sidebar on mobile
  resources/views/components/layouts/app.blade.php
  resources/views/components/sidebar/side-link.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

fix(payment): fix payment controller for online payment method
  app/Http/Controllers/PaymentController.php
Due: ./vendor/bin/pint --dirty

refactor(component): adjusting checkout function at livewire component
  app/Livewire/Feature/Payment/Checkout.php
  app/Livewire/Feature/User/BillDetail.php
  app/Livewire/Feature/User/Dashboard.php
  app/Livewire/Feature/User/ExamGrade.php
  app/Livewire/Partials/Program/RegistransForm.php
Due: ./vendor/bin/pint --dirty

fix(model): add is_visible to mass assignment
  app/Models/Program/Program.php
Due: ./vendor/bin/pint --dirty

refactor(order): add payment method to mass assignment
  app/Models/Transaction/Order.php
Due: ./vendor/bin/pint --dirty

refactor: adjust midtrans service, database and snap pop up handler
  app/Services/MidtransService.php
  database/migrations/2025_02_02_100051_create_registrations_table.php
  database/migrations/2025_03_17_105740_add_payment_method_to_orders_table.php
  database/seeders/DatabaseSeeder.php
  public/midtrans/index.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

fix(style): fix sidebar when on mobile device
  resources/views/layouts/navbars/auth/nav.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: add page checkout, adjust styling at dashboard, exam grade, profile, bill and bill detail
  resources/views/livewire/feature/payment/checkout.blade.php
  resources/views/livewire/feature/user/bill-detail.blade.php
  resources/views/livewire/feature/user/bill.blade.php
  resources/views/livewire/feature/user/dashboard.blade.php
  resources/views/livewire/feature/user/exam-grade.blade.php
  resources/views/livewire/feature/user/profile.blade.php
  resources/views/livewire/pages/program-detail.blade.php
  resources/views/livewire/partials/program/registrans-form.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: add checkout route and post route for checkout
  routes/web.php
Due: ./vendor/bin/pint --dirty

refactor: add soft deletes for some crucial data's model
  app/Models/ContactMessage.php
  app/Models/Feature/Grade.php
  app/Models/Feature/RegistrationSchedule.php
  app/Models/Program/Book.php
  app/Models/Role.php
  app/Models/Schedule/ClassDayCode.php
  app/Models/Schedule/ClassSchedule.php
  app/Models/Schedule/ClassTimeCode.php
  app/Models/Transaction/OrderItem.php
  app/Models/Transaction/Payment.php
  app/Models/Transaction/Registration.php
  app/Models/Web/Faq.php
  app/Models/Web/Testimonial.php
Due: ./vendor/bin/pint --dirty

refactor: add softDeleteDatetime every tables that has crucial data
  database/factories/Feature/GradeFactory.php
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/2025_01_15_160200_create_programs_table.php
  database/migrations/2025_01_17_001150_create_teams_table.php
  database/migrations/2025_01_26_050911_create_roles_table.php
  database/migrations/2025_02_02_100051_create_registrations_table.php
  database/migrations/2025_02_02_141357_create_orders_table.php
  database/migrations/2025_02_02_141446_create_order_items_table.php
  database/migrations/2025_02_02_141517_create_payments_table.php
  database/migrations/2025_02_03_091651_create_class_day_codes_table.php
  database/migrations/2025_02_03_091717_create_class_time_codes_table.php
  database/migrations/2025_02_03_091719_create_books_table.php
  database/migrations/2025_02_03_093136_create_class_schedules_table.php
  database/migrations/2025_02_03_093220_create_class_day_schedules_table.php
  database/migrations/2025_02_06_135638_create_contact_messages_table.php
  database/migrations/2025_02_07_014633_create_program_details_table.php
  database/migrations/2025_02_07_014721_create_images_table.php
  database/migrations/2025_02_07_053528_add_deleted_at_to_program_details_table.php
  database/migrations/2025_02_07_054205_add_deleted_at_to_images_table.php
  database/migrations/2025_02_11_063532_add_product_name_to_order_items_table.php
  database/migrations/2025_02_17_130711_create_grades_table.php
  database/migrations/2025_02_24_055559_add_deleted_at_to_orders_table.php
Due: ./vendor/bin/pint --dirty

chore: adjusment of models and tables of seeders execution
  app/Models/Feature/Grade.php
  database/factories/Feature/GradeFactory.php
  database/migrations/2025_02_02_100051_create_registrations_table.php
  database/migrations/2025_02_03_093136_create_class_schedules_table.php
  database/migrations/2025_03_17_105740_add_payment_method_to_orders_table.php
Due: ./vendor/bin/pint --dirty

refactor(model): relationship params for better clarity
  app/Filament/Resources/Transaction/RegistrationResource.php
  app/Models/Blog/Author.php
  app/Models/Blog/Category.php
  app/Models/Blog/Post.php
  app/Models/Feature/Grade.php
  app/Models/Feature/RegistrationSchedule.php
  app/Models/Program/Book.php
  app/Models/Program/Image.php
  app/Models/Program/Program.php
  app/Models/Program/ProgramDetail.php
  app/Models/Schedule/ClassDayCode.php
  app/Models/Schedule/ClassSchedule.php
  app/Models/Schedule/ClassTimeCode.php
  app/Models/Team.php
  app/Models/Transaction/Order.php
  app/Models/Transaction/OrderItem.php
  app/Models/Transaction/Payment.php
  app/Models/Transaction/Registration.php
  app/Models/User.php
Due: ./vendor/bin/pint --dirty

chore: update env.example
  .env.example
Due: none

Path conditions:
  prettier --write: (any of: *.{html,scss,js}) or (any of: *.blade.php)
  eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix: any of: *.{html,scss,js}
  ./vendor/bin/pint --dirty: any of: *.php
