Repository romiardanaputra/iec-denpasar: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

.lintstagedrc.json:

{
  "*.{html,scss,js}": [
    "prettier --write",
    "eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix"
  ],
  "*.php": ["./vendor/bin/pint --dirty"],
  "*.blade.php": ["prettier --write"]
}

chore: remove unused files boiler plate's default
  app/Livewire/Ui/Combobox.php
  app/Livewire/User/Home.php
  resources/views/components/application-logo.blade.php
  resources/views/components/auth-session-status.blade.php
  resources/views/components/danger-button.blade.php
  resources/views/components/dropdown-link.blade.php
  resources/views/components/dropdown.blade.php
  resources/views/components/input-label.blade.php
  resources/views/components/modal.blade.php
  resources/views/components/nav-link.blade.php
  resources/views/components/primary-button.blade.php
  resources/views/components/responsive-nav-link.blade.php
  resources/views/components/secondary-button.blade.php
  resources/views/components/text-input.blade.php
  resources/views/customer/orders/index.blade.php
  resources/views/customer/orders/show.blade.php
  resources/views/profile/edit.blade.php
  resources/views/profile/partials/delete-user-form.blade.php
  resources/views/profile/partials/update-password-form.blade.php
  resources/views/profile/partials/update-profile-information-form.blade.php
  storage/app/public/0650bea0-4357-4fe3-a14d-bc0a28279e5e.jpg
  storage/app/public/265acd88-f3f2-414d-859f-f64ac34f79af.jpg
  storage/app/public/288354eb-7c4e-4226-87e0-ccfe400daa89.jpg
  storage/app/public/28b003ed-97d4-4bad-b9d8-27ca0b092b69.jpg
  storage/app/public/2ef54931-b2c3-4339-8f28-34a090357fba.jpg
  storage/app/public/40077e17-15fd-4cbd-b8c0-007eeac3aaa7.jpg
  storage/app/public/56258357-c0c9-41c4-bbb4-03e050041064.jpg
  storage/app/public/5c8fd406-8cd6-4af1-95ef-27b5c3188506.jpg
  storage/app/public/7c47a65c-91ea-4af3-9c07-aef38dd784c9.jpg
  storage/app/public/af89980a-e3fe-4ccd-ba5e-6d181c4981f9.jpg
  storage/app/public/c675f325-37d6-47a1-a875-b739976c915f.jpg
  storage/app/public/cdb95426-cdb8-4130-975c-1b9f88e199c4.jpg
  storage/app/public/midtrans/index.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

chore(deps): add prettier tailwind css plugin
  package.json
  routes/web.php
Due: ./vendor/bin/pint --dirty

refactor: adjust prettier configuration
  .prettierignore
  .prettierrc
Due: none

chore: fix style formating by prettier plugin
  resources/css/global.css
  resources/css/luvi-ui.css
  resources/js/bootstrap.js
  resources/views/livewire/pages/blog.blade.php
  resources/views/livewire/partials/transaction/pending-payment.blade.php
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

fix(dashboard): fix filter date section for chart not showed[solved]
  app/Filament/Pages/Dashboard.php
  app/Filament/Resources/Transaction/RegistrationResource.php
  app/Providers/Filament/AdminPanelProvider.php
  resources/views/filament/pages/dashboard.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: all resources that has softdeletes by adding trashed filter and force and restore action
  app/Filament/Resources/Feature/GradeResource.php
  app/Filament/Resources/Feature/RegistrationScheduleResource.php
  app/Filament/Resources/Program/BookResource.php
  app/Filament/Resources/Program/ImageResource.php
  app/Filament/Resources/Program/ProgramDetailResource.php
  app/Filament/Resources/Program/ProgramResource.php
  app/Filament/Resources/Schedule/ClassDayCodeResource.php
  app/Filament/Resources/Schedule/ClassScheduleResource.php
  app/Filament/Resources/Schedule/ClassTimeCodeResource.php
  app/Filament/Resources/TeamResource.php
  app/Filament/Resources/Transaction/OrderResource.php
  app/Filament/Resources/Transaction/RegistrationResource.php
Due: ./vendor/bin/pint --dirty

fix(relation): fix uncorrect local key params in authors and categories
  app/Models/Blog/Author.php
  app/Models/Blog/Category.php
  app/Models/Blog/Post.php
Due: ./vendor/bin/pint --dirty

feat: add minim required seo for user dashboard
  app/Livewire/Feature/User/Bill.php
  app/Livewire/Feature/User/BillDetail.php
  app/Livewire/Feature/User/Dashboard.php
  app/Livewire/Feature/User/ExamGrade.php
  app/Livewire/Feature/User/Profile.php
Due: ./vendor/bin/pint --dirty

refactor: all resource filter, create, edit and improving UX
  app/Filament/Resources/Blog/PostResource.php
Due: ./vendor/bin/pint --dirty

refactor: all resources filter, form and improve UX
  app/Filament/Resources/Blog/AuthorResource.php
  app/Filament/Resources/Blog/CategoryResource.php
  app/Filament/Resources/Blog/LinkResource.php
  app/Filament/Resources/Feature/GradeResource.php
  app/Filament/Resources/Feature/RegistrationScheduleResource.php
  app/Filament/Resources/Program/BookResource.php
  app/Filament/Resources/Program/ImageResource.php
  app/Filament/Resources/Program/ProgramDetailResource.php
  app/Filament/Resources/Program/ProgramResource.php
  app/Filament/Resources/Schedule/ClassDayCodeResource.php
  app/Filament/Resources/Schedule/ClassScheduleResource.php
  app/Filament/Resources/Schedule/ClassTimeCodeResource.php
  app/Filament/Resources/TeamResource.php
  app/Filament/Resources/Transaction/OrderResource.php
  app/Filament/Resources/Transaction/RegistrationResource.php
  app/Filament/Resources/UserResource.php
  app/Filament/Resources/Web/FaqResource.php
  app/Filament/Resources/Web/TestimonialResource.php
Due: ./vendor/bin/pint --dirty

refactor(resources): refactor filter, form, and improve UX
  app/Filament/Resources/Blog/PostResource.php
Due: ./vendor/bin/pint --dirty

chore: delete unused file
  resources/views/filament/class-schedule/show.blade.php
  resources/views/filament/pages/dashboard.blade.php
  resources/views/filament/resources/-resource/pages/dashboard.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: trace bug in checkout in payment controller
  app/Http/Controllers/PaymentController.php
Due: ./vendor/bin/pint --dirty

chore: remove computed value at dashboard user
  app/Livewire/Feature/User/Dashboard.php
Due: ./vendor/bin/pint --dirty

refactor: change primary key at author model
  app/Models/Blog/Author.php
  database/seeders/DatabaseSeeder.php
Due: ./vendor/bin/pint --dirty

refactor: adjust assets css compatibility
  public/assets/css/perfect-scrollbar.css
  public/assets/css/styles.css
  storage/app/public/assets/css/perfect-scrollbar.css
  storage/app/public/assets/css/styles.css
  storage/app/public/program/01JQBKTG09Y2RR4R3HXKVWQQAB.ico
Due: none

refactor: update prettier rc
  .prettierrc
Due: none

refactor: adjust public pages
  resources/views/components/auth-session-status.blade.php
  resources/views/components/layouts/app.blade.php
  resources/views/layouts/navbars/auth/nav.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/payment/checkout.blade.php
  resources/views/livewire/feature/user/bill.blade.php
  resources/views/livewire/feature/user/exam-grade.blade.php
  resources/views/livewire/feature/user/profile.blade.php
  resources/views/livewire/pages/about.blade.php
  resources/views/livewire/partials/transaction/payment-success.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: add prettier plugin tailwindcss
  .prettierrc
Due: none

refactor(page): dashboard admin realtime chart, update dashboard user
  app/Filament/Resources/Transaction/OrderResource/Pages/ListOrders.php
  app/Filament/Resources/Transaction/OrderResource/Widgets/OrderStats.php
  app/Filament/Widgets/OrdersChart.php
  app/Filament/Widgets/RegistransChart.php
  app/Filament/Widgets/StatsOverviewWidget.php
  app/Http/Controllers/PaymentController.php
  app/Livewire/Feature/User/Bill.php
  app/Livewire/Feature/User/Dashboard.php
  resources/views/layouts/footers/auth/footer.blade.php
  resources/views/layouts/navbars/auth/nav.blade.php
  resources/views/livewire/auth/logout.blade.php
  resources/views/livewire/feature/user/dashboard.blade.php
  resources/views/livewire/pages/blog.blade.php
  storage/app/public/midtrans/index.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

fix(dashboard): fix empty state on transaction dashboard
  app/Livewire/Feature/User/Dashboard.php
  resources/views/livewire/feature/user/dashboard.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: deactivate redirection payment
  storage/app/public/midtrans/index.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix

refactor: fix user interface after payment
  resources/views/livewire/partials/transaction/failed-payment.blade.php
  resources/views/livewire/partials/transaction/payment-success.blade.php
  resources/views/livewire/partials/transaction/pending-payment.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: change mail address name and from
  config/mail.php
Due: ./vendor/bin/pint --dirty

chore: update failed payment handler message
  storage/app/public/midtrans/index.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix

refactor: adjust UI on dashboard user and fix minor function at profile
  app/Livewire/Feature/User/Dashboard.php
  app/Livewire/Feature/User/Profile.php
  resources/views/livewire/feature/user/bill-detail.blade.php
  resources/views/livewire/feature/user/bill.blade.php
  resources/views/livewire/feature/user/dashboard.blade.php
  resources/views/livewire/feature/user/profile.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor(order): add payment method field and list
  app/Filament/Resources/Transaction/OrderResource.php
  app/Filament/Resources/Transaction/OrderResource/Pages/CreateOrder.php
Due: ./vendor/bin/pint --dirty

refactor: add profile and database notification
  app/Providers/Filament/AdminPanelProvider.php
Due: ./vendor/bin/pint --dirty

chore(notification): config reverb for notification
  bootstrap/app.php
  composer.json
  composer.lock
  config/broadcasting.php
  config/filament.php
  config/reverb.php
  package.json
  resources/js/bootstrap.js
  resources/js/echo.js
  routes/channels.php
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

chore: update doc env example
  .env.example
Due: none

chore: comment reverb and change it to pusher instead
  .env.example
  resources/js/echo.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix

chore: change filament config broadcaster from reverb to pusher
  config/filament.php
Due: ./vendor/bin/pint --dirty

fix(profile): add ignore record for phone field
  app/Livewire/Feature/User/Profile.php
Due: ./vendor/bin/pint --dirty

chore: change random int value to unique id when create order at admin
  app/Filament/Resources/Transaction/OrderResource.php
Due: ./vendor/bin/pint --dirty

chore: uncommented robot for admin
  resources/views/components/layouts/app.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: update slug and mentor class field
  app/Filament/Resources/TeamResource.php
  database/migrations/2025_01_17_001150_create_teams_table.php
  storage/app/public/01JRWFSGNEM76CQT648P7Y8A6X.jpeg
  storage/app/public/program/01JRY7874ECD5MGNWZ4RX29NSF.jpg
Due: ./vendor/bin/pint --dirty

chore: edit file system config
  config/filesystems.php
Due: ./vendor/bin/pint --dirty

chore: update team fillabel, table and seeder
  app/Models/Team.php
  database/migrations/2025_01_17_001150_create_teams_table.php
  database/seeders/TeamSeeder.php
Due: ./vendor/bin/pint --dirty

feat(program detail): add modal not login state for purchase course
  app/Livewire/Pages/ProgramDetail.php
  resources/views/livewire/pages/program-detail.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

fix(bill detail): fix button based on payment method selected
  resources/views/livewire/feature/user/bill-detail.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty
