Repository romiardanaputra/iec-denpasar: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

.lintstagedrc.json:

{
  "*.{html,scss,js}": [
    "prettier --write",
    "eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix"
  ],
  "*.php": ["./vendor/bin/pint --dirty"],
  "*.blade.php": ["prettier --write"]
}

feat: integrate data grade to client, and implement ui blog and blogdetail
  app/Livewire/Feature/User/ExamGrade.php
  app/Models/Feature/Grade.php
  app/Models/Transaction/Order.php
  app/Models/Transaction/Registration.php
  app/Models/User.php
  database/factories/Feature/GradeFactory.php
  database/factories/Transaction/OrderFactory.php
  database/factories/Transaction/OrderItemFactory.php
  database/factories/Transaction/RegistrationFactory.php
  database/factories/UserFactory.php
  database/migrations/2025_02_02_100051_create_registrations_table.php
  database/migrations/2025_02_02_141357_create_orders_table.php
  database/migrations/2025_02_17_130711_create_grades_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/Feature/GradeSeeder.php
  database/seeders/RoleSeeder.php
  database/seeders/Transaction/DummyOrderSeeder.php
  database/seeders/Transaction/TransactionSeeder.php
  resources/views/components/layouts/app.blade.php
  resources/views/components/progress-bar/index.blade.php
  resources/views/livewire/feature/user/class-info.blade.php
  resources/views/livewire/feature/user/exam-grade.blade.php
  resources/views/livewire/feature/user/schedule.blade.php
  resources/views/livewire/pages/blog-detail.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add fileter, search, pagination on blog
  app/Livewire/Feature/User/ExamGrade.php
  app/Livewire/Pages/Blog.php
  app/Models/BLog/Post.php
  resources/views/components/layouts/app.blade.php
  resources/views/livewire/pages/blog.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: integrate blog detail at client
  app/Livewire/Pages/Blog.php
  app/Livewire/Pages/BlogDetail.php
  resources/views/livewire/pages/blog-detail.blade.php
  resources/views/livewire/pages/blog.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: blog post, category, author on admin side
  app/Console/Commands/ClearAndRegenerateStorage.php
  app/Filament/Resources/Blog/AuthorResource.php
  app/Filament/Resources/Blog/CategoryResource.php
  app/Filament/Resources/Blog/PostResource.php
  app/Livewire/Ui/Combobox.php
  app/Models/BLog/Author.php
  app/Models/BLog/Category.php
  app/Models/BLog/Post.php
  app/Models/Team.php
  app/Providers/Filament/AdminPanelProvider.php
  database/migrations/2025_02_01_021033_create_blog_authors_table.php
  database/seeders/DatabaseSeeder.php
  public/iec-assets/hero.svg
  public/iec-assets/iec-hero-banner.jpg
  public/iec-assets/mobile_login.svg
  resources/svg/instagram.svg
  resources/svg/linkedin.svg
  resources/views/livewire/combobox/index.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/blog.blade.php
  resources/views/livewire/pages/contact.blade.php
  resources/views/livewire/partials/hero-section.blade.php
  storage/app/public/.gitignore
Due: prettier --write, ./vendor/bin/pint --dirty

fix: fix blog post, category, link, author and use eager loading fetch query
  app/Filament/Resources/Blog/CategoryResource.php
  app/Filament/Resources/Blog/PostResource.php
  app/Models/BLog/Author.php
  app/Models/BLog/Category.php
  app/Models/BLog/Link.php
  app/Models/BLog/Post.php
Due: ./vendor/bin/pint --dirty

fix: author name take from team relation
  app/Livewire/Pages/Blog.php
  app/Livewire/Pages/BlogDetail.php
  resources/views/livewire/pages/blog-detail.blade.php
  resources/views/livewire/pages/blog.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

[STAGING]/Feat/blog (#31)
  app/Console/Commands/ClearAndRegenerateStorage.php
  app/Filament/Resources/Blog/AuthorResource.php
  app/Filament/Resources/Blog/CategoryResource.php
  app/Filament/Resources/Blog/PostResource.php
  app/Livewire/Pages/Blog.php
  app/Livewire/Pages/BlogDetail.php
  app/Livewire/Ui/Combobox.php
  app/Models/BLog/Author.php
  app/Models/BLog/Category.php
  app/Models/BLog/Link.php
  app/Models/BLog/Post.php
  app/Models/Team.php
  app/Providers/Filament/AdminPanelProvider.php
  database/migrations/2025_02_01_021033_create_blog_authors_table.php
  database/seeders/DatabaseSeeder.php
  public/iec-assets/hero.svg
  public/iec-assets/iec-hero-banner.jpg
  public/iec-assets/mobile_login.svg
  resources/svg/instagram.svg
  resources/svg/linkedin.svg
  resources/views/livewire/combobox/index.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/blog-detail.blade.php
  resources/views/livewire/pages/blog.blade.php
  resources/views/livewire/pages/contact.blade.php
  resources/views/livewire/partials/hero-section.blade.php
  storage/app/public/.gitignore
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: dashboard client, handling dummy error
  resources/views/livewire/feature/user/bill.blade.php
  resources/views/livewire/feature/user/class-info.blade.php
  resources/views/livewire/feature/user/dashboard.blade.php
  resources/views/livewire/feature/user/exam-grade.blade.php
  resources/views/livewire/feature/user/profile.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: dashboard client, handling dummy error (#32)
  resources/views/livewire/feature/user/bill.blade.php
  resources/views/livewire/feature/user/class-info.blade.php
  resources/views/livewire/feature/user/dashboard.blade.php
  resources/views/livewire/feature/user/exam-grade.blade.php
  resources/views/livewire/feature/user/profile.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add registration model, factory, seeder
  database/factories/Feature/RegistrationScheduleFactory.php
  database/migrations/2025_02_23_123518_create_registration_schedules_table.php
  database/seeders/RegistrationScheduleSeeder.php
Due: ./vendor/bin/pint --dirty

feat: add registration's schedule model and registration resource
  app/Filament/Resources/Feature/RegistrationScheduleResource/Pages/CreateRegistrationSchedule.php
  app/Filament/Resources/Feature/RegistrationScheduleResource/Pages/EditRegistrationSchedule.php
  app/Filament/Resources/Feature/RegistrationScheduleResource/Pages/ListRegistrationSchedules.php
  app/Models/Feature/RegistrationSchedule.php
Due: ./vendor/bin/pint --dirty

feat: add registration resource and registration's model
  app/Filament/Resources/Transaction/RegistrationResource.php
  app/Filament/Resources/Transaction/RegistrationResource/Pages/CreateRegistration.php
  app/Filament/Resources/Transaction/RegistrationResource/Pages/EditRegistration.php
  app/Filament/Resources/Transaction/RegistrationResource/Pages/ListRegistrations.php
  app/Filament/Resources/Transaction/RegistrationResource/Pages/ViewRegistration.php
  app/Models/Transaction/Registration.php
Due: ./vendor/bin/pint --dirty

feat: add class schedule resources
  app/Filament/Resources/Schedule/ClassScheduleResource.php
  app/Filament/Resources/Transaction/RegistrationResource/RelationManagers/ClassSchedulesRelationManager.php
  app/Models/Schedule/ClassSchedule.php
Due: ./vendor/bin/pint --dirty

feat: add registration schedule's resources
  app/Filament/Resources/Feature/RegistrationScheduleResource.php
Due: ./vendor/bin/pint --dirty

[REFACTOR]/[ADD]/Feat/admin schedule (#33)
  app/Filament/Resources/Feature/RegistrationScheduleResource.php
  app/Filament/Resources/Feature/RegistrationScheduleResource/Pages/CreateRegistrationSchedule.php
  app/Filament/Resources/Feature/RegistrationScheduleResource/Pages/EditRegistrationSchedule.php
  app/Filament/Resources/Feature/RegistrationScheduleResource/Pages/ListRegistrationSchedules.php
  app/Filament/Resources/Schedule/ClassScheduleResource.php
  app/Filament/Resources/Transaction/RegistrationResource.php
  app/Filament/Resources/Transaction/RegistrationResource/Pages/CreateRegistration.php
  app/Filament/Resources/Transaction/RegistrationResource/Pages/EditRegistration.php
  app/Filament/Resources/Transaction/RegistrationResource/Pages/ListRegistrations.php
  app/Filament/Resources/Transaction/RegistrationResource/Pages/ViewRegistration.php
  app/Filament/Resources/Transaction/RegistrationResource/RelationManagers/ClassSchedulesRelationManager.php
  app/Models/Feature/RegistrationSchedule.php
  app/Models/Schedule/ClassSchedule.php
  app/Models/Transaction/Registration.php
  database/factories/Feature/RegistrationScheduleFactory.php
  database/migrations/2025_02_23_123518_create_registration_schedules_table.php
  database/seeders/RegistrationScheduleSeeder.php
Due: ./vendor/bin/pint --dirty

feat: add grade resource for admin
  app/Filament/Resources/Feature/GradeResource.php
  app/Filament/Resources/Feature/GradeResource/Pages/CreateGrade.php
  app/Filament/Resources/Feature/GradeResource/Pages/EditGrade.php
  app/Filament/Resources/Feature/GradeResource/Pages/ListGrades.php
  app/Filament/Resources/Feature/GradeResource/Pages/ViewGrade.php
Due: ./vendor/bin/pint --dirty

feat: add grade resource for admin (#34)
  app/Filament/Resources/Feature/GradeResource.php
  app/Filament/Resources/Feature/GradeResource/Pages/CreateGrade.php
  app/Filament/Resources/Feature/GradeResource/Pages/EditGrade.php
  app/Filament/Resources/Feature/GradeResource/Pages/ListGrades.php
  app/Filament/Resources/Feature/GradeResource/Pages/ViewGrade.php
Due: ./vendor/bin/pint --dirty

feat: add admin's order resources
  app/Enums/OrderStatus.php
  app/Filament/Resources/Transaction/OrderResource.php
  app/Filament/Resources/Transaction/OrderResource/Pages/CreateOrder.php
  app/Filament/Resources/Transaction/OrderResource/Pages/EditOrder.php
  app/Filament/Resources/Transaction/OrderResource/Pages/ListOrders.php
  app/Filament/Resources/Transaction/OrderResource/Pages/ViewOrder.php
Due: ./vendor/bin/pint --dirty

feat: add flowframe laravel trend
  composer.json
  composer.lock
Due: none

feat: add order resource admin
  app/Enums/OrderStatus.php
  app/Filament/Resources/Transaction/OrderResource.php
  app/Filament/Resources/Transaction/OrderResource/Pages/ListOrders.php
  app/Filament/Resources/Transaction/OrderResource/Widgets/OrderStats.php
  app/Models/Transaction/Order.php
  database/migrations/2025_02_24_055559_add_deleted_at_to_orders_table.php
Due: ./vendor/bin/pint --dirty

[REFACTOR]/[ADD]/Feat/admin order (#35)
  app/Enums/OrderStatus.php
  app/Filament/Resources/Transaction/OrderResource.php
  app/Filament/Resources/Transaction/OrderResource/Pages/CreateOrder.php
  app/Filament/Resources/Transaction/OrderResource/Pages/EditOrder.php
  app/Filament/Resources/Transaction/OrderResource/Pages/ListOrders.php
  app/Filament/Resources/Transaction/OrderResource/Pages/ViewOrder.php
  app/Filament/Resources/Transaction/OrderResource/Widgets/OrderStats.php
  app/Models/Transaction/Order.php
  composer.json
  composer.lock
  database/migrations/2025_02_24_055559_add_deleted_at_to_orders_table.php
Due: ./vendor/bin/pint --dirty

refactor: finalize create form of input nilai
  app/Filament/Resources/Feature/GradeResource.php
  app/Models/Feature/Grade.php
Due: ./vendor/bin/pint --dirty

refactor: layout, performance and languge to bahasa
  app/Filament/Resources/Feature/GradeResource.php
  app/Filament/Resources/Feature/GradeResource/Pages/CreateGrade.php
  app/Filament/Resources/Feature/GradeResource/Pages/EditGrade.php
  app/Filament/Resources/Feature/GradeResource/Pages/ViewGrade.php
Due: ./vendor/bin/pint --dirty

refactor: add softdeletes in order model
  app/Models/Transaction/Order.php
Due: ./vendor/bin/pint --dirty

refactor: improve layout, performance, and responsive for registration schedule
  app/Filament/Resources/Feature/RegistrationScheduleResource.php
  app/Filament/Resources/Feature/RegistrationScheduleResource/Pages/CreateRegistrationSchedule.php
  app/Filament/Resources/Feature/RegistrationScheduleResource/Pages/EditRegistrationSchedule.php
Due: ./vendor/bin/pint --dirty

refactor: add level and book price at book resources
  app/Filament/Resources/Program/BookResource.php
  app/Models/Program/Book.php
  database/migrations/2025_02_25_070534_add_level_to_books_table.php
Due: ./vendor/bin/pint --dirty

chore: update git ignore env.staging
  .gitignore
Due: none

chore(model): add soft delete at order model
  app/Models/Transaction/Order.php
Due: ./vendor/bin/pint --dirty

refactor(style): image resources
  app/Filament/Resources/Program/ImageResource.php
Due: ./vendor/bin/pint --dirty

refactor: fix styling and layouting programdetail resource
  app/Filament/Resources/Program/ProgramDetailResource.php
Due: ./vendor/bin/pint --dirty

refactor: fix styling on faq resource
  app/Filament/Resources/Web/FaqResource.php
Due: ./vendor/bin/pint --dirty

feat: add is visible colomn
  app/Models/Program/Image.php
Due: ./vendor/bin/pint --dirty

refactor: add visible colomn to image table
  database/migrations/2025_02_25_151036_add_is_visible_to_images_table.php
Due: ./vendor/bin/pint --dirty

refactor: classdaycode and testimonial resource
  app/Filament/Resources/Schedule/ClassDayCodeResource.php
  app/Filament/Resources/Web/TestimonialResource.php
Due: ./vendor/bin/pint --dirty

refactor: class day code resource
  app/Filament/Resources/Schedule/ClassDayCodeResource.php
Due: ./vendor/bin/pint --dirty

feat: add dashboard admin page and integrate with real data
  app/Filament/Pages/Dashboard.php
  app/Filament/Widgets/LatestOrders.php
  app/Filament/Widgets/OrdersChart.php
  app/Filament/Widgets/RegistransChart.php
  app/Filament/Widgets/StatsOverviewWidget.php
  app/Providers/Filament/AdminPanelProvider.php
  resources/views/filament/pages/dashboard.blade.php
  resources/views/filament/resources/-resource/pages/dashboard.blade.php
  resources/views/livewire/combobox/index.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

[STAGING]/[UPDATE]/[Refactor/admin filament] (#38)
  .gitignore
  app/Filament/Pages/Dashboard.php
  app/Filament/Resources/Feature/GradeResource.php
  app/Filament/Resources/Feature/GradeResource/Pages/CreateGrade.php
  app/Filament/Resources/Feature/GradeResource/Pages/EditGrade.php
  app/Filament/Resources/Feature/GradeResource/Pages/ViewGrade.php
  app/Filament/Resources/Feature/RegistrationScheduleResource.php
  app/Filament/Resources/Feature/RegistrationScheduleResource/Pages/CreateRegistrationSchedule.php
  app/Filament/Resources/Feature/RegistrationScheduleResource/Pages/EditRegistrationSchedule.php
  app/Filament/Resources/Program/BookResource.php
  app/Filament/Resources/Program/ImageResource.php
  app/Filament/Resources/Program/ProgramDetailResource.php
  app/Filament/Resources/Schedule/ClassDayCodeResource.php
  app/Filament/Resources/Web/FaqResource.php
  app/Filament/Resources/Web/TestimonialResource.php
  app/Filament/Widgets/LatestOrders.php
  app/Filament/Widgets/OrdersChart.php
  app/Filament/Widgets/RegistransChart.php
  app/Filament/Widgets/StatsOverviewWidget.php
  app/Models/Feature/Grade.php
  app/Models/Program/Book.php
  app/Models/Program/Image.php
  app/Providers/Filament/AdminPanelProvider.php
  database/migrations/2025_02_25_070534_add_level_to_books_table.php
  database/migrations/2025_02_25_151036_add_is_visible_to_images_table.php
  resources/views/filament/pages/dashboard.blade.php
  resources/views/filament/resources/-resource/pages/dashboard.blade.php
  resources/views/livewire/combobox/index.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: public page
  app/Livewire/Partials/Footer.php
  resources/js/app.js
  resources/js/swiper-team.js
  resources/js/swiper-testimonial.js
  resources/views/components/accordion/item.blade.php
  resources/views/layouts/navbars/auth/nav.blade.php
  resources/views/livewire/feature/user/schedule.blade.php
  resources/views/livewire/index.blade.php
  resources/views/livewire/pages/about.blade.php
  resources/views/livewire/pages/blog.blade.php
  resources/views/livewire/partials/cta-section.blade.php
  resources/views/livewire/partials/faq-section.blade.php
  resources/views/livewire/partials/footer.blade.php
  resources/views/livewire/partials/navbar.blade.php
  resources/views/livewire/partials/program-section.blade.php
  resources/views/livewire/partials/team-section.blade.php
  resources/views/livewire/partials/testimonial-section.blade.php
  tailwind.config.js
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

chore: delete unused files
  app/Livewire/Feature/User/ClassInfo.php
  app/Livewire/Feature/User/Schedule.php
  resources/views/livewire/feature/user/class-info.blade.php
  resources/views/livewire/feature/user/schedule.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty
