Repository romiardanaputra/iec-denpasar: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

feat: add sitemap.xml configuration for public page
  public/sitemap.xml
  routes/web.php
Due: ./vendor/bin/pint --dirty

chore(config): config robot txt file
  public/robots.txt
Due: none

refactor: sitemap.xml
  public/sitemap.xml
Due: none

chore: modify dashboard user being published when hooked by verify email feature
  resources/views/components/layouts/app.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: modify google route
  routes/web.php
Due: ./vendor/bin/pint --dirty

[STAGING]/[ADD]/Feature/seo (#24)
  app/Livewire/Index.php
  app/Livewire/Pages/About.php
  app/Livewire/Pages/Contact.php
  app/Livewire/Pages/CourseDetail.php
  app/Livewire/Pages/OurTeam.php
  app/Livewire/Pages/Program.php
  app/Livewire/Pages/ProgramDetail.php
  composer.json
  composer.lock
  config/seotools.php
  public/robots.txt
  public/sitemap.xml
  resources/views/components/layouts/app.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: add artisan command for clear laravel logs
  routes/console.php
Due: ./vendor/bin/pint --dirty

chore: minify html,css,js in project
  bootstrap/app.php
  composer.json
  composer.lock
  config/minify.php
Due: ./vendor/bin/pint --dirty

fix: minify config breaking out alpine js
  config/minify.php
  resources/views/components/avatar/index.blade.php
  resources/views/layouts/navbars/auth/sidebar.blade.php
  resources/views/livewire/feature/user/schedule.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: modify quotes
  routes/console.php
Due: ./vendor/bin/pint --dirty

chore: create model for blog
  app/Models/BLog/Author.php
  app/Models/BLog/Category.php
  app/Models/BLog/Link.php
  app/Models/BLog/Post.php
Due: ./vendor/bin/pint --dirty

chore: add translatable and tags deps by filament
  composer.json
  composer.lock
Due: none

chore: add blog migrations
  database/migrations/2025_02_01_021018_create_blog_links_table.php
  database/migrations/2025_02_01_021033_create_blog_authors_table.php
  database/migrations/2025_02_01_021050_create_blog_categories_table.php
  database/migrations/2025_02_01_021107_create_blog_posts_table.php
Due: ./vendor/bin/pint --dirty

refactor: group resource for team and program
  app/Filament/Resources/ProgramResource.php
  app/Filament/Resources/TeamResource.php
Due: ./vendor/bin/pint --dirty

feat: add post resource fillament
  app/Filament/Resources/PostResource.php
  app/Filament/Resources/PostResource/Pages/CreatePost.php
  app/Filament/Resources/PostResource/Pages/EditPost.php
  app/Filament/Resources/PostResource/Pages/ListPosts.php
Due: ./vendor/bin/pint --dirty

feat: add users resource fillament
  app/Filament/Resources/UserResource.php
  app/Filament/Resources/UserResource/Pages/CreateUser.php
  app/Filament/Resources/UserResource/Pages/EditUser.php
  app/Filament/Resources/UserResource/Pages/ListUsers.php
Due: ./vendor/bin/pint --dirty

refactor(login): fix redirect after login based on roles
  app/Livewire/Auth/Login.php
Due: ./vendor/bin/pint --dirty

feat: add animista for animation
  resources/css/animista.css
  resources/css/app.css
Due: none

refactor: add wire navigate to login route
  resources/views/livewire/partials/navbar.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

chore: test adding animista animation
  resources/views/livewire/index.blade.php
Due: prettier --write, ./vendor/bin/pint --dirty

refactor: add migration's field for blog
  database/migrations/2025_02_01_021018_create_blog_links_table.php
  database/migrations/2025_02_01_021033_create_blog_authors_table.php
  database/migrations/2025_02_01_021050_create_blog_categories_table.php
  database/migrations/2025_02_01_021107_create_blog_posts_table.php
Due: ./vendor/bin/pint --dirty

chore: delete unused files
  app/Filament/Resources/PostResource.php
  app/Filament/Resources/PostResource/Pages/CreatePost.php
  app/Filament/Resources/PostResource/Pages/EditPost.php
  app/Filament/Resources/PostResource/Pages/ListPosts.php
Due: ./vendor/bin/pint --dirty

feat: add post resource for blog
  app/Filament/Resources/Blog/PostResource.php
  app/Filament/Resources/Blog/PostResource/Pages/CreatePost.php
  app/Filament/Resources/Blog/PostResource/Pages/EditPost.php
  app/Filament/Resources/Blog/PostResource/Pages/ListPosts.php
Due: ./vendor/bin/pint --dirty

feat: create view record pages in posts resource
  app/Filament/Resources/Blog/PostResource/Pages/ViewPost.php
Due: ./vendor/bin/pint --dirty

feat: add blog back office
  app/Filament/Exports/Blog/AuthorExporter.php
  app/Filament/Imports/Blog/CategoryImporter.php
  app/Filament/Resources/Blog/AuthorResource.php
  app/Filament/Resources/Blog/AuthorResource/Pages/ManageAuthors.php
  app/Filament/Resources/Blog/CategoryResource.php
  app/Filament/Resources/Blog/CategoryResource/Pages/ManageCategories.php
  app/Filament/Resources/Blog/LinkResource.php
  app/Filament/Resources/Blog/LinkResource/Pages/CreateLink.php
  app/Filament/Resources/Blog/LinkResource/Pages/EditLink.php
  app/Filament/Resources/Blog/LinkResource/Pages/ListLinks.php
  app/Filament/Resources/Blog/LinkResource/Pages/ViewLink.php
  app/Filament/Resources/Blog/PostResource.php
  app/Providers/Filament/AdminPanelProvider.php
  database/migrations/2025_02_01_051536_create_notifications_table.php
  database/migrations/2025_02_01_051655_create_imports_table.php
  database/migrations/2025_02_01_051656_create_exports_table.php
  database/migrations/2025_02_01_051657_create_failed_import_rows_table.php
Due: ./vendor/bin/pint --dirty

refactor: middleware typo file
  app/Http/Middleware/HasRoleUserMiddleware.php
Due: ./vendor/bin/pint --dirty

refactor: authorization access for user can access public page
  app/Livewire/Pages/ProgramDetail.php
  app/Livewire/Partials/ProgramSection.php
  resources/js/app.js
  resources/views/components/layouts/app.blade.php
  resources/views/livewire/pages/program-detail.blade.php
  resources/views/livewire/partials/navbar.blade.php
  resources/views/livewire/partials/program-section.blade.php
  routes/web.php
Due: prettier --write, eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix, ./vendor/bin/pint --dirty

chore: add midtrans sdk dependency
  composer.json
  composer.lock
Due: none

feat: setup midtrans, model, migration
  6e952c97-523d-40ed-9139-5d3967a2650a.jpg
  app/Http/Controllers/Customer/OrderController.php
  app/Http/Controllers/PaymentController.php
  app/Livewire/Partials/TeamSection.php
  app/Models/Order.php
  app/Models/OrderItem.php
  app/Models/Payment.php
  app/Services/MidtransService.php
  config/midtrans.php
  database/factories/TeamFactory.php
  database/migrations/2025_02_02_141357_create_orders_table.php
  database/migrations/2025_02_02_141446_create_order_items_table.php
  database/migrations/2025_02_02_141517_create_payments_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/DummyOrderSeeder.php
  database/seeders/TeamSeeder.php
  resources/views/components/sheet/close.blade.php
  resources/views/components/sheet/content.blade.php
  resources/views/components/sheet/description.blade.php
  resources/views/components/sheet/footer.blade.php
  resources/views/components/sheet/header.blade.php
  resources/views/components/sheet/index.blade.php
  resources/views/components/sheet/main.blade.php
  resources/views/components/sheet/overlay.blade.php
  resources/views/components/sheet/title.blade.php
  resources/views/components/sheet/trigger.blade.php
  resources/views/customer/orders/index.blade.php
  resources/views/customer/orders/show.blade.php
  resources/views/livewire/pages/program-detail.blade.php
  resources/views/livewire/partials/navbar.blade.php
  resources/views/livewire/partials/team-section.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint --dirty

feat: add seeder for payment and schedule
  database/seeders/BookProgramSeeder.php
  database/seeders/DatabaseSeeder.php
  database/seeders/DummyOrderSeeder.php
  database/seeders/ProgramSeeder.php
  database/seeders/Schedule/ClassDayCodeSeeder.php
  database/seeders/Schedule/ClassTimeCodeSeeder.php
Due: ./vendor/bin/pint --dirty

chore: delete unused file
  app/Models/Order.php
  app/Models/OrderItem.php
  app/Models/Payment.php
Due: ./vendor/bin/pint --dirty

refactor: resructure folder payment migration
  database/migrations/2025_02_02_141446_create_order_items_table.php
  database/migrations/2025_02_02_141517_create_payments_table.php
Due: ./vendor/bin/pint --dirty

feat: add schedule migration
  database/migrations/2025_01_15_160200_create_programs_table.php
  database/migrations/2025_02_03_091651_create_class_day_codes_table.php
  database/migrations/2025_02_03_091717_create_class_time_codes_table.php
  database/migrations/2025_02_03_091719_create_books_table.php
  database/migrations/2025_02_03_093136_create_class_schedules_table.php
  database/migrations/2025_02_03_093220_create_class_day_schedules_table.php
Due: ./vendor/bin/pint --dirty

feat: add schedule factory
  database/factories/BookProgramFactory.php
  database/factories/ProgramFactory.php
  database/factories/Schedule/ClassDayCodeFactory.php
  database/factories/Schedule/ClassTimeCodeFactory.php
Due: ./vendor/bin/pint --dirty

feat: add schedule model
  app/Models/BookProgram.php
  app/Models/Program.php
  app/Models/Schedule/ClassDayCode.php
  app/Models/Schedule/ClassDaySchedule.php
  app/Models/Schedule/ClassSchedule.php
  app/Models/Schedule/ClassTimeCode.php
Due: ./vendor/bin/pint --dirty

feat: add user export feature
  app/Filament/Exports/UserExporter.php
Due: ./vendor/bin/pint --dirty

feat: add schedule resources
  app/Filament/Resources/BookResource.php
  app/Filament/Resources/BookResource/Pages/ManageBooks.php
  app/Filament/Resources/ProgramResource.php
  app/Filament/Resources/Schedule/ClassDayCodeResource.php
  app/Filament/Resources/Schedule/ClassDayCodeResource/Pages/ManageClassDayCodes.php
  app/Filament/Resources/Schedule/ClassScheduleResource.php
  app/Filament/Resources/Schedule/ClassScheduleResource/Pages/ManageClassSchedules.php
  app/Filament/Resources/Schedule/ClassTimeCodeResource.php
  app/Filament/Resources/Schedule/ClassTimeCodeResource/Pages/ManageClassTimeCodes.php
  app/Filament/Resources/TeamResource.php
  app/Filament/Resources/UserResource.php
  app/Filament/Resources/UserResource/Pages/ListUsers.php
Due: ./vendor/bin/pint --dirty

Path conditions:
  prettier --write: (any of: *.{html,scss,js}) or (any of: *.blade.php)
  eslint --ignore-pattern 'vendor/*' --ignore-pattern 'node_modules/*' --ignore-pattern 'public/*' --ignore-pattern 'storage/*' --fix: any of: *.{html,scss,js}
  ./vendor/bin/pint --dirty: any of: *.php
